@charset "utf-8";
/**
  后台页面全部样式
  根据页面、类名一一划分
 */

@import "../modules/element-variables";
@import "../../../../static/css/admin/iconfont.css";
@import "../modules/icon";


/**
  公共样式
 */

/*表格图标和内容*/
.table-icon{
  font-size: 40PX;
  vertical-align: middle;
  margin-right: 10PX;
}

.table-con-box{
  width:calc(100% - 50px);

  display: inline-block;
  vertical-align: middle;

  p{
    font-size:12PX;
    font-weight:500;
    color:rgba(144,147,153,1);
    line-height:14PX;
  }

  p:first-of-type{
    font-size:14PX;
    font-weight:600;
    color:$titleColor;
    line-height:20PX;
  }
  p:last-of-type{
    margin-top: 7PX;
  }

}

.icon-add{
  font-size: 15.5PX !important;
}



/**
  home页面样式
 */

//$contFontSize:14PX;

.home-box{

  .home-card-box{
    p{
      //font-size:$contFontSize;
      //font-weight:400;
      color:$titleColor;
      line-height:20PX;

      &:not(:last-child){
        margin-bottom: 20PX;
      }

      span{
        margin-right: 20PX;
      }

    }
  }
  .home-card__footer{
    a{
      margin-right: 20PX;
      color: $main;
      //font-size: $contFontSize;
    }
  }
}


/**
  全局--站点信息
 */
.site-set-box{

  .site-set__logo{
    i{
      height: 15PX;
      width: 1PX;
      background-color: $borderColor;
      display: inline-block;
      vertical-align: text-top;
      margin: 0 20PX;
    }
  }

  .proportion-box{
    width: 45%;
    display: inline-block;
    span{
      height: 20PX;
      display: inline-block;
      white-space: pre-wrap;
      margin-right: 20PX;
    }

    .el-input{
      width: 120PX;
      height: 36PX;
    }

    margin-right: 5PX;
  }

}


/**
  全局--注册设置
 */
.sign-up-set-box{

}


/**
  附件设置
 */
.annex-set-box{

}


/**
  第三方登录设置
 */
.worth-mention-box{

  .worth-mention__default{
    padding-top: 15PX;
  }

}


/**
  内容过滤设置
 */
.content-filter-set-box{

  .content-filter-set__search{

    .el-cascader__search-input{
      width: 60%;
      max-width: 440PX;
      margin: 0 14PX 0 0;
    }
    &-button{
      width: 20%;
      max-width: 68PX;
    }

  }

  .content-filter-set-main{

    .list-set-box{
      margin: 15PX 0;
      span{
        color: $main;
        margin-right: 40PX;
        cursor: pointer;
      }
    }

    .content-filter-set-table-add{
      width: 100%;
      height: 45PX;
      border-bottom: 1PX solid #EBEEF5;
      line-height: 45PX;
      p{
        margin-left: 65PX;
        color: $main;
        //font-size:14PX;
        //font-weight:400;
      }
    }

  }

  .batch-set-box{

    .el-radio-group{
      margin-top: 15PX;

      div:last-of-type{
        margin-top: 22PX;
      }

    }

    h2{
      font-size:18PX;
      //font-weight:400;
      color:$titleColor;
      line-height:25PX;
      margin-bottom: 11PX;
    }
    p{
      //font-size:14PX;
      //font-weight:400;
      color:$commentColor;
      line-height:28PX;
    }

  }

}

/**
  支付设置
 */
.pay-set-box{

  .pay-set__default{
    margin-top: 15PX;
  }
}


/**
  用户管理
 */
.user-manage-set-box{
  margin-top: 15PX;

  .user-manage-set-table-add{
    width: 100%;
    height: 45PX;
    border-bottom: 1PX solid #EBEEF5;
    line-height: 45PX;
    p{
      margin-left: 65PX;
      color: $main;
      span{
        cursor: pointer;
      }
    }
  }

}


/**
  角色管理
 */
$tableHeaderColor:#FAFAFA;
.role-manage-set-box{
  margin-top: 15PX;

  .role-manage-set-table-add{
    width: 100%;
    height: 45PX;
    border-bottom: 1PX solid #EBEEF5;
    line-height: 45PX;
    p{
      margin-left: 65PX;
      color: $main;
      //font-size:14PX;
      //font-weight:400;
      span{
        cursor: pointer;
      }
    }
  }

  .role-editing-box{

    .card-box{
      border-bottom: 0;
    }

    .role-table{
      width: 100%;
      tr{
        width: 100%;
        border-bottom: 1PX solid #EBEEF5;

        th{
          background-color: #FAFAFA;
          padding: 12PX 14PX 12PX 17PX;
          line-height: 23PX;
        }

        td{
          vertical-align: middle;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          padding: 12PX 17PX 12PX 17PX;
          line-height: 23PX;
          margin-right: 68PX;
        }

        .el-checkbox-group{
          //display: table;
          //table-layout: fixed;
          //width: 100%;

          .el-checkbox{
            //display: table-cell;
          }
        }

      }
    }
  }

  .card-box{
    padding-top: 0;
  }

}


/**
  登录界面
 */
.login-box{
  width: 100%;
  height: 100%;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-main{
    width: 400PX;
    height: 484PX;
    background-color: white;
    box-shadow:0 0 12px 0 rgba(88,88,90,0.21);
    border-radius:4px;

    .login-header{
      padding: 74PX 105PX 35PX 105PX;

      a{
        height: 30PX;
        width: 184PX;
        display: block;
        img{
          width: 100%;
          height: 100%;
        }
      }

    }

    .login-main-form{
      padding: 22PX 40PX;

      .el-form-item{
        border-bottom: 1PX solid #E3E3E3;
        padding: 12PX 0 ;
        margin-bottom: 0;
      }

      .el-input__inner{
        border: 0;
        padding-left: 42PX;

        :-moz-placeholder {
          color: $inputPlaceholder;
          opacity: 1;
        }

        ::-moz-placeholder {
          color: $inputPlaceholder;
          opacity: 1;
        }

      }

      .iconfont{
        font-size: 22PX;
        color: #D7DEE4;
      }

      .login-main-form__item{
        border-bottom: 0;

       .el-button{
         width: 256PX;
         height: 36PX;
         padding-top: 10PX;
         padding-bottom:10PX;
       }
        .el-checkbox__label{
          color: $descColor;
        }

        &:last-child{
          text-align: center;
        }

      }

    }

  }
}

