@charset "utf-8";

/**
 * style var
 */

$fontColor: #336699;
$cor888: #888888;
$gap: #EDEDED;
$font000: #000000;
$cor999: #999999;
$fontSize:15px;  //内容字体大小
$fontSizeTitle:19px;  //标题大小
$corFff: #fff;
$corE5: #e5e5e5;
$corEd: #ededed;
$corF7: #f7f7f7;
$corD8: #d8d8d8;
$corF2: #f2f2f2;
html,
body{
  color: $fontColor;
  width: 100%;
  height: 100%;
  display: block;
}

.weui-cells{
  font-size: $fontSize;   //登录注册-表单输入
}

.weui-form__desc {
  font-size: $fontSize;
}

.weui-form__title{
  font-size: $fontSizeTitle;
}

.weui-btn{
  font-weight: 500;
}


/**
 * 获取验证码按钮样式
 */
.verification-code-btn{
  font-weight:400;
  color: #336699;
}
