@charset "utf-8";

/**
 * style var
 */

@import "/m_site/app";
$fontColor: #336699;
$cor888: #888888;
$cor444: #444444;
$cor333: #333333;
$gap: #EDEDED;
$font000: #000000;
$cor999: #999999;
$fontSize:15px;  //内容字体大小
$fontSizeTitle:19px;  //标题大小
$corFff: #fff;
$corE5: #e5e5e5;
$corEd: #ededed;
$corF7: #f7f7f7;
$corD8: #d8d8d8;
$corF2: #f2f2f2;
html,
body{
  //color: $fontColor;
  width: 100%;
  height: 100%;
  display: block;
  //overflow-x: hidden;
}



/**
 * 获取验证码按钮样式
 */
.verification-code-btn{
  font-weight:400;
  color: $fontColor;
}

/**
 *  回复输入框
 */
.reply-box{
  width: 100%;
  @include px2rem(min-height,160);
  @include px2rem(max-height,300);
  _height: 120px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0;
  background: transparent;
  color: inherit;
  line-height: inherit;
  outline: 0;
  @include px2rem(margin,28 0);
  @include font-dpr(30);
  box-sizing: content;
  caret-color: $fontColor;  //光标颜色
  @include placeholder {
      color: #b2b2b2;
      @include font-dpr(26);
    }

}

/**
  列表-公共样式
 */
.m-site-cell-access{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child{
    border-bottom: 0;
  }

  .m-site-cell-access-bd{
    flex: 1;
    @include font-dpr(30);
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:#000000;
    @include px2rem(line-height,42);
  }

  .m-site-cell-access-ft{
    @include font-dpr(30);
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(0,0,0,0.5);
    @include px2rem(line-height,32);
    @include px2rem(padding-right,45);
    position: relative;
    //img{
    //  width:58px;
    //  height:58px;
    //  border-radius:4px;
    //  position: relative;
    //}
    i{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
