@charset "utf-8";

/**
 * style var
 */

@import "./m_site/app";
$fontColor: #336699;
$cor888: #888888;
$cor444: #444444;
$cor333: #333333;
$gap: #EDEDED;
$font000: #000000;
$cor999: #999999;
$fontSize:15px;  //内容字体大小
$fontSizeTitle:19px;  //标题大小
$corFff: #fff;
$corE5: #e5e5e5;
$corEd: #ededed;
$corF7: #f7f7f7;
$corD8: #d8d8d8;
$corF2: #f2f2f2;
$corB2: #B2B2B2;
html,
body{
  //color: $fontColor;
  width: 100%;
  height: 100%;
  display: block;
  //overflow-x: hidden;
}



/**
 * 获取验证码按钮样式
 */
.verification-code-btn{
  font-weight:400;
  color: $fontColor;
}

/**
 *  回复输入框
 */
.reply-box{
  width: 100%;
  @include px2rem(min-height,160);
  @include px2rem(max-height,300);
  _height: 120px;
  margin-left: auto;
  margin-right: auto;
  word-wrap: break-word;
  overflow-x: hidden;
  overflow-y: auto;
  border: 0;
  background: transparent;
  color: inherit;
  line-height: inherit;
  outline: 0;
  @include px2rem(margin,28 0);
  @include font-dpr(30);
  box-sizing: content;
  caret-color: $fontColor;  //光标颜色
  @include placeholder {
      color: #b2b2b2;
      @include font-dpr(26);
    }

}

/**
  列表-公共样式
 */
.m-site-cell-access{
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child{
    border-bottom: 0;
  }

  .m-site-cell-access-bd{
    flex: 1;
    @include font-dpr(30);
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:#000000;
    @include px2rem(line-height,42);
  }

  .m-site-cell-access-ft{
    @include font-dpr(30);
    font-family:PingFangSC-Regular,PingFang SC;
    font-weight:400;
    color:rgba(0,0,0,0.5);
    @include px2rem(line-height,32);
    @include px2rem(padding-right,45);
    position: relative;
    //img{
    //  width:58px;
    //  height:58px;
    //  border-radius:4px;
    //  position: relative;
    //}
    i{
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

/*
  微信支付二维码
*/
.qrCodeBox {
  position: fixed;
  top: 50%;
  left: 50%;
  @include px2rem(width, 580);
  @include px2rem(height, 820);
  .popupTit {
    display: block;
    @include font-dpr(26);
    @include px2rem(line-height, 36);
    color: $cor888;
    @include px2rem(padding, 36 0 0 0);
    text-align: center;
  }
  .payNum {
    @include px2rem(line-height, 84);
    @include font-dpr(48);
    @include px2rem(padding, 36 0);
    @include px2rem(margin, 0 30 24 30);
    border-bottom: 1px solid $corE5;
    text-align: center;
    span {
      @include font-dpr(70);
    }
  }
  .payType {
    @include px2rem(margin, 0 30 34 30);
    @include px2rem(line-height, 36);
    @include font-dpr(26);
    overflow: hidden;
    .typeLeft {
      float: left;
      color: $cor888;
    }
    .typeRight {
      float: right;
      color: $cor444;
      .icon {
        @include font-dpr(30);
        @include px2rem(margin-right, 15);
        color: #09BB07;
      }
    }
  }
  .qrCode {
    display: block;
    @include px2rem(width, 380);
    @include px2rem(height, 380);
    @include px2rem(margin-top, 34);
    @include px2rem(margin-bottom, 14);
    margin-left: auto;
    margin-right: auto;
  }
  .payTip {
    @include font-dpr(30);
    color: $cor333;
    @include px2rem(line-height, 42);
    @include px2rem(margin-top, 14);
    text-align: center;
  }
}
