/**
  全局变量
 */

/* 改变主题色变量 */
//$--color-primary: #0054A5;
/* 改变 icon 字体路径变量，必需 */
//$--font-path: '~element-ui/lib/theme-chalk/fonts';
//@import "~element-ui/packages/theme-chalk/src/index";
//@import "../../../../node_modules/element-ui/packages/theme-chalk/src/index";

//@import "~element-ui/packages/theme-chalk/src/menu";
//@import "~element-ui/packages/theme-chalk/src/menu-item";



$blue:#0054A5;

$main:#336699;

$headerFontColor:#FFF;    //头部字体原色
$headerFontColorShallow:rgba(255,255,255,0.65);   //头部字体浅色

$borderColor:#E5E5E5;     //边框颜色

