@charset "utf-8";

/*
  elementUI-主题
*/
/* 改变主题色变量 */
$--color-primary:#336699;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
//@import "~element-ui/packages/theme-chalk/src/index";


//多选、单选按钮颜色、副颜色
$selectColor:#1989FA;
//多选、单选文字颜色
$selectFontColor:#303133;


/*表格表头背景颜色*/
.el-table th{
  background-color: #FAFAFA;
  color: #606266;
  font-weight: 600;
}
/*表格单元格左缩进*/
.el-table .cell{
  padding-left: 17PX;
}
/*表格表头高度*/
.el-table tr{
  height: 53PX;
}

/*复选按钮*/
.el-checkbox{
  font-weight: 400;
  color: #303133;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: $selectColor;
  border-color: $selectColor;
}
.el-checkbox__input.is-checked + .el-checkbox__label{
  color: $selectFontColor;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: $selectColor;
  border-color: $selectColor;
}
/*单选按钮*/
.el-radio__input.is-checked .el-radio__inner{
  background-color: $selectColor;
  border-color: $selectColor;
}
.el-radio__input.is-checked + .el-radio__label{
  color: $selectFontColor;
}

/*按钮*/
.el-button{
  font-weight: 400;
}

.el-button--default{
  border: 1PX solid $--color-primary;
  color: $--color-primary;
  &:hover{
    border:1PX solid $--color-primary;
    //background-color: $selectColor;
  }
  &:focus{
    border:1PX solid $--color-primary;
    //background-color: $selectColor;
  }
}

.el-button--mini{
  span{
    font-size: 12PX;
  }
}

.el-button.is-disabled{
  background-color: #EDF5FF;
  border: 1PX solid #D9ECFF;
  color: #8CC5FF;

  &:hover{
    background-color: #EDF5FF;
    border: 1PX solid #D9ECFF;
    color: #8CC5FF;
  }
  &:focus{
    background-color: #EDF5FF;
    border: 1PX solid #D9ECFF;
    color: #8CC5FF;
  }

}

/*输入框*/
.el-input__inner{
  border: 1PX solid #D8DCE6;
}


/*
  全局变量
*/

$blue:#0054A5;

$main:#336699;

$inputPlaceholder:#B2B2B2;

$headerFontColor:#FFF;    //头部字体原色
$headerFontColorShallow:rgba(255,255,255 ,0.65);   //头部字体浅色

$borderColor:#E5E5E5;    //边框颜色

$contBorderColor:#F8F9F9;   //card边框、内容、子边框颜色

$descColor:#909399;   //描述字体颜色

$titleColor:#303133;    //标题字体颜色

$commentColor:#606266;    //注释字体颜色

$tableBorderColor:#EBEEF5;    //表格边框线

$tableHeaderColor:#FAFAFA;     //表格头部颜色

$splitLine:#DCDFE6;     //竖分割线颜色

/*后台界面规定元素默认属性*/
*{
  font:14PX/1 Lucida Grande,Lucida Sans Unicode,Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,sans-serif;
  a{
    color: $main;
  }
}



