/*
  内容处理模板架子
*/

@import "../../../modules/element-variables";

.cont-arrange-box{
  width: 100%;
  height: 100%;

  .cont-arrange-main{
    width: 100%;
    min-height: 149PX;
    border-top: 1PX solid $tableBorderColor;
    &:last-child{
      border-bottom: 1PX solid $tableBorderColor;
    }
    display: flex;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .cont-arrange__lf-side{
      min-height: 100%;
      min-width: 44PX;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 18PX;
      border-right: 1PX solid $tableBorderColor;

    }

    .cont-arrange__rt-main{
      min-height: 100%;
      flex: 1;
      display: flex;
      flex-direction: column;

      &-header{
        flex: 1;
        //height: 97PX;
        border-bottom: 1PX solid $tableBorderColor;
        display: flex;
        align-items:center;
        padding: 15PX 21PX;
      }

      &-box{
        flex: 1;
        //min-height: 70PX;
        border-bottom: 1PX solid $tableBorderColor;
        padding: 15PX 21PX;
        line-height:20PX;
      }

      &-footer{
        flex: 1;
        //height: 66PX;
        padding: 15PX 21PX;
        display: flex;
        align-items:center;
      }

    }

  }


}
