@charset "utf-8";

/**
 * index style
 */
@import "./../var";
@import "./_app";

body {
	// color: $fontColor;
	background: $corFff;
}
.icon-praise-after {
	color: $fontColor;
}
.navBarBox {
	@include px2rem(height, 94);
	@include px2rem(padding, 0 8);
	overflow: hidden;
	.navBarCon {
		width: 100%;
		overflow: auto;
		margin: 0 auto;
		height: 120%;
		white-space: nowrap;
	}

}

.navBarCon li {
	width: auto;
	display: inline-block;
	@include px2rem(line-height, 90);
	@include px2rem(padding, 0 12);
	@include px2rem(margin, 0 22);
	cursor: pointer;
	@include font-dpr(30);
}
.navBarCon li.navActi {
	color: $fontColor;
	border-bottom: 2px solid $fontColor;
}
.themeTitBox {
	@include px2rem(height, 106);
	@include px2rem(padding, 30 30 28 30);
	border-bottom: 1px solid $corE5;
	box-sizing:border-box;
	.themeTit {
		float: left;
		color: #888888;
		@include font-dpr(28);
		@include px2rem(line-height, 48);
	}
}
.screen {
  float: right;
  cursor: pointer;
  @include font-dpr(28);
  color: #888888;
  @include px2rem(line-height, 48);
  position: relative;
  .themeList {
    position: absolute;
    @include px2rem(top, 60);
    background: $corF7;
    right: 0;
    @include px2rem(min-width, 190);
    @include px2rem(border-radius, 10);
    border: 1px solid $corE5;
    &:after {
      content: '';
      display: block;
      border-width: 10px;
      position: absolute;
      top: -17px;
      right: 10px;
      border-style: solid dashed dashed;
      border-color: transparent transparent $corF7;
      font-size: 0;
      line-height: 0;
    }
    &:before {
      content: '';
      display: block;
      border-width: 10px;
      position: absolute;
      top: -18px;
      right: 10px;
      border-style: solid dashed dashed;
      border-color: transparent transparent $corE5;
      font-size: 0;
      line-height: 0;
    }
    a {
      display: block;
      @include px2rem(padding, 22 30);
      @include px2rem(line-height, 42);
      color: $cor888;
      @include font-dpr(30);
      border-bottom: 1px solid $corE5;
      &:last-child {
        border: none;
      }
    }
  }
}
.cirPostCon {
	@include px2rem(padding, 30 30 20 30);
}
.postTop {
	overflow: hidden;
	@include px2rem(margin-bottom, 12);
}
.postPer {
	float: left;
	@include px2rem(max-width, 560);
	.postHead {
		float: left;
		@include px2rem(width, 80);
		@include px2rem(height, 80);
		@include px2rem(margin-right, 18);
		@include px2rem(border-radius, 8);
	}
	.perDet {
		float: left;
		@include px2rem(height, 80);
		@include px2rem(width, 460);
		.perName {
			@include px2rem(line-height, 40);
			color: $fontColor;
			@include font-dpr(30);
			@include px2rem(margin-bottom, 4);
			@include px2rem(height, 40);
			@include singleline-ellipsis(0);
		}
		.postTime {
			@include px2rem(line-height, 32);
			color: $cor888;
			@include font-dpr(28);
		}
	}
}
.postOpera {
	float: right;
	@include px2rem(height, 80);
	.moreCli {
		display: inline-block;
		@include px2rem(height, 40);
		@include px2rem(width, 52);
		@include px2rem(margin-left, 12);
		background: $corF7;
		@include px2rem(border-radius, 3);
		span {
			color: $fontColor;
		}
	}
	span {
		@include font-dpr(40);
		// @include px2rem(line-height, 40);
		color: $corD8;
		cursor: pointer;
	}
}
.postContent {
	@include font-dpr(30);
	@include px2rem(line-height, 40);
	@include px2rem(margin-bottom, 20);
	a {
		display: block;
		@include px2rem(line-height, 40);
		color: $font000;
	}
}
.operaBox {
	background: $corF7;
}
.isrelationGap {
	@include px2rem(padding-top, 16);
	background: $corF7;
}
.isrelationLine {
	border-bottom: 1px solid $corE5;
}
.likeBox {
	@include font-dpr(28);
	background: $corF7;
	@include px2rem(padding, 0 18 8 18);
	vertical-align: middle;
	word-break: break-all;
	color: #444;
	.icon {
		@include font-dpr(28);
		color: $fontColor;
	}
	a {
		color: $fontColor;
		@include px2rem(line-height, 36);
		@include font-dpr(28);
	}
}
.reward {
	background: $corF7;
	@include px2rem(padding, 0 18 0 18);
	vertical-align: middle;
	@include px2rem(padding-bottom, 16);
	@include font-dpr(28);
	word-break: break-all;
	color: #444;
	.icon {
		@include font-dpr(28);
		color: #FF5453;
	}
	a {
		color: $fontColor;
		@include px2rem(line-height, 36);
		@include font-dpr(28);
	}
}


.replyBox {
	@include px2rem(padding, 16 18 20 18);
	@include px2rem(line-height, 40);
	background: $corF7;
	color: #444;
	.replyCon {
		@include px2rem(line-height, 40);
		@include px2rem(margin-bottom, 8);
		@include font-dpr(28);
		a {
			color: $fontColor;
		}
		span {
			display: inline;
		}
		.font9 {
			color: $cor999;
		}
	}
	.allReply {
		display: block;
		color: $fontColor;
		@include font-dpr(26);
		font-weight: 500;
		@include px2rem(margin-top, 12);
		.icon {
			@include font-dpr(20);
			@include px2rem(margin-left, 12);
		}
	}
}
.fixedEdit {
	position: fixed;
	@include px2rem(right, 30);
	@include px2rem(bottom, 108);
	z-index: 12;
	@include px2rem(width, 100);
	@include px2rem(height, 100);
	background: $fontColor;
	border-radius: 50%;
	text-align: center;
  	box-shadow: 0 0 7px rgba(0,0,0,0.2);
	@include px2rem(line-height, 100);
	.icon {
		color: #fff;
		@include font-dpr(40);
	}
}

/*
付费站点-首页-未登录
payCircle.view
*/
.circleLoBox {
	@include px2rem(padding, 26 30);
	overflow: hidden;
	border-bottom: 1px solid $corE5;
	.circleIcon {
		float: left;
		@include px2rem(line-height, 42);
		@include font-dpr(30);
	}
	.circleLogo {
		float: right;
		@include px2rem(height, 42);
		@include px2rem(max-width, 220);
	}
}
.circleInfo {
	@include px2rem(padding, 26 0 0 30);
	.cirInfoTit {
		@include px2rem(line-height, 42);
		@include font-dpr(30);
		@include px2rem(padding-bottom, 8);
		@include px2rem(padding-right, 30);
		font-weight: normal;
	}
	.cirInfoWord {
		@include px2rem(line-height, 40);
		color: rgba(#000,0.5);
		@include font-dpr(28);
		@include px2rem(padding-bottom, 28);
		@include px2rem(padding-right, 30);
		border-bottom: 1px solid $corE5;
    word-break: break-all;
	}
}
.infoItem {
	@include px2rem(padding, 26 0);
	overflow: hidden;
	@include px2rem(padding-right, 30);
	position: relative;
	// border-bottom: 1px solid $corE5;
	&:after {
		position: absolute;
	    box-sizing: border-box;
	    content: ' ';
	    pointer-events: none;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    border-bottom: 1px solid $corE5;
	}
	.infoItemLeft {
		float: left;
		@include px2rem(line-height, 42);
		@include font-dpr(30);
	}
	.infoItemRight {
		float: right;
		@include px2rem(line-height, 42);
		@include font-dpr(28);
		color: rgba(#000,0.5);
		@include px2rem(max-width, 520);
		@include px2rem(height, 42);
		@include singleline-ellipsis(0);
		text-align: right;
	}
	.lookMore {
	 	.icon {
			@include font-dpr(32);
			@include px2rem(padding-left, 14);
			color: $corE5;
		}
	}
	.circleMemberList {
		overflow: hidden;
		@include px2rem(padding, 28 10 0 10);
		.circleMember {
			float: left;
			@include px2rem(height, 92);
			@include px2rem(width, 92);
			@include px2rem(margin-right, 52);
			@include px2rem(border-radius, 8);
			&:nth-child(5) {
				@include px2rem(margin-right, 0);
			}
		}
	}
}
.memberItem {
	@include px2rem(padding, 26 30 28 30);
}
.loginOpera {
	@include px2rem(padding, 50 30);
	box-sizing: border-box;
	.mustLogin {
		display: block;
		@include horizontal-center;
		@include px2rem(margin-bottom, 28);
		background: $corF2;
		@include px2rem(height, 72);
		@include px2rem(width, 334);
		text-align: center;
		@include px2rem(line-height, 72);
		@include px2rem(border-radius, 10);
		color: $fontColor;
		@include font-dpr(32);
	}
	.regiJoin {
		display: block;
		@include horizontal-center;
		background: $fontColor;
		color: #fff;
		@include px2rem(height, 72);
		@include px2rem(width, 334);
		text-align: center;
		@include px2rem(line-height, 72);
		@include px2rem(border-radius, 10);
		@include font-dpr(32);
	}
}

/*
	站点管理-邀请
	circleInviteView.vue
*/
.invitePerDet {
	@include px2rem(padding, 88 30 6 30);
	.inviteHead {
		display: block;
		@include px2rem(height, 92);
		@include px2rem(width, 92);
		@include horizontal-center;
		@include px2rem(margin-bottom, 12);
		@include px2rem(border-radius, 8);
	}
	.inviteName {
		color: $fontColor;
		@include font-dpr(30);
		@include singleline-ellipsis(0);
		text-align: center;
		@include px2rem(margin-bottom, 28);
		@include px2rem(line-height, 40);
	}
	.inviteWo {
		@include font-dpr(36);
		text-align: center;
		@include px2rem(line-height, 40);
	}
}
.powerListBox {
	.powerTit {
		@include font-dpr(30);
		@include px2rem(line-height, 42);
		@include px2rem(padding, 28 30 36 30);
		position: relative;
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		    right: 0;
		    bottom: 0;
		    left: 16px;
		    border-bottom: 1px solid $corE5;
		}
	}
	.powerList {
		@include px2rem(padding, 28 30 36 30);
		position: relative;
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		    right: 0;
		    bottom: 0;
		    left: 16px;
		    border-bottom: 1px solid $corE5;
		}
		&:last-child {
			&:after {
				position: absolute;
			    box-sizing: border-box;
			    content: ' ';
			    pointer-events: none;
			    right: 0;
			    bottom: 0;
			    left: 16px;
			    border-bottom: none;
			}
		}
		.powerClassify {
			@include font-dpr(34);
			@include px2rem(line-height, 48);
			@include px2rem(padding-bottom, 16);
		}
		.powerChi {
			@include font-dpr(28);
			@include px2rem(line-height, 40);
			color: rgba(#000,0.5);
		}
	}

}
.payMoney {
	@include font-dpr(28);
	@include px2rem(line-height, 40);
	@include px2rem(padding-top, 30);
	color: rgba(#000,0.5);
	text-align: center;
}

/*
公开站点，内容页的分享
openCircleConView.vue
*/

.postImgBox {
	@include px2rem(padding, 28 0);
}
//当只有一张图片时
.postImgBox {
	width: 100%;
	.postImgList {
		width: 100%;
		.van-image {
			display: block;
			max-width: 100%;
      min-height: 100px;
			margin-left: auto;
			margin-right: auto;
			@include px2rem(margin-bottom, 28);
			&:last-child {
				@include px2rem(margin-bottom, 0);
			}
		}
	}
}

.uploadFileList {
	@include px2rem(padding-bottom, 48);
	.fileChi {
		display: block;
		@include px2rem(height, 40);
		@include px2rem(line-height, 40);
		@include font-dpr(30);
		@include px2rem(margin-bottom, 26);
		.icon {
			float: left;
			@include font-dpr(36);
		}
    
		.fileName {
			display: block;
			box-sizing: border-box;
			@include px2rem(margin-left, 46);
			@include px2rem(height, 40);
			@include px2rem(line-height, 40);
			@include singleline-ellipsis(0);
			width: auto;
		}
		&:last-child {
			@include px2rem(margin-bottom, 0);
		}
	}
}
.postDetBot {
	@include px2rem(line-height, 40);
	@include font-dpr(28);
	color: $cor888;
	overflow: visible;
	.readNum {
		float: left;
	}
  .screen {
    @include px2rem(margin-left, 40);
    @include px2rem(line-height, 40);
  }
	.postDetR {
		float: right;
		@include px2rem(margin-left, 40);
		@include px2rem(line-height, 40);
		color: $cor888;
		@include font-dpr(28);
		.icon {
			@include font-dpr(28);
		}
	}
  &:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    zoom: 1;
    clear: both;
  }
}
.commentBox {
	@include px2rem(padding, 28 0 0 0);
	.likeBox {
		@include px2rem(padding, 0 30);
		color: #353535;
		@include font-dpr(28);
		word-break: break-all;
		.icon {
			@include font-dpr(28);
			@include px2rem(line-height, 36);
		}
		a {
			@include font-dpr(28);
			@include px2rem(line-height, 36);
		}
	}
	.payPer {
		@include px2rem(padding, 16 30 28 30);
		overflow: hidden;
		border-bottom: 1px solid $corE5;
		.icon-money {
			float: left;
			@include font-dpr(28);
			@include px2rem(margin, 12 4 12 0);
			color: #FF5453;
			@include px2rem(line-height, 28);
		}
		.payPerHead {
			float: left;
			@include px2rem(border-radius, 4);
			@include px2rem(height, 52);
			@include px2rem(width, 52);
			@include px2rem(margin-left, 7);
		}
	}
	.commentPostDet {
		@include px2rem(padding, 28 30 0 30);
		.postContent {
			@include font-dpr(28);
			color: #444444;
			@include px2rem(line-height, 40);
		}

		.quotePostTop {
			@include px2rem(padding-top, 20);
			@include px2rem(margin-bottom, 22);
		}
		.quoteCon {
      display: block;
			@include px2rem(padding, 16);
      @include px2rem(margin-bottom, 16);
			background: $corF7;
			@include font-dpr(26);
			color: $cor888;
		}
		.viewPoint {
			@include px2rem(padding, 16 0 6 0);
			@include font-dpr(28);
			@include px2rem(line-height, 40);
			color: #444444;
		}

	}

	.commentOpera {
		text-align: right;
		overflow: hidden;
		position: relative;
		@include px2rem(padding, 0 30 22 30);
		.icon {
			@include font-dpr(26);
			@include px2rem(line-height, 36);
		}
		a {
			float: right;
			@include font-dpr(26);
			color: $cor888;
			@include px2rem(margin-left, 20);
      @include px2rem(line-height, 36);
			vertical-align: baseline;
			.icon {
				@include px2rem(margin-right, 8);
			}
		}
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		    right: 0;
		    bottom: 0;
		    left: 16px;
		    border-bottom: 1px solid $corE5;
		}
	}
	.padT22 {
		@include px2rem(padding-top, 22);
	}
	.afterNone {
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		    right: 0;
		    bottom: 0;
		    left: 16px;
		    border-bottom: none;
		}
	}
}
.themeImgBox {
  @include px2rem(padding-top, 16);
  @include px2rem(padding-bottom, 20);
}
.themeImgList {

}
.themeOneImgChild {
  width: 50%;
  min-height: 100px;
}
.moreImg {
  .themeImgChild {
    @include px2rem(margin-right, 6);
    @include px2rem(margin-bottom, 4);
    &:nth-child(3n) {
      margin-right:0;
    }
  }
}
/*
付费的站点，已登录，未付费
*/
.welcomeUser {
	text-align: center;
	@include font-dpr(28);
	@include px2rem(line-height, 40);
	color: rgba(#000,0.5);
	@include px2rem(margin-bottom, 28);
	.signOut {
		@include font-dpr(28);
		@include px2rem(line-height, 40);
		@include px2rem(margin-left, 40);
	}
}

/*
主题详情页
details.vue
*/
.marBfixed {
	@include px2rem(margin-bottom, 104);
	overflow: hidden;
}
.detailsFooter {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	@include px2rem(height, 104);
	z-index: 16;
	@include font-dpr(30);
	background: #fff;
	.footChi {
		position: relative;
		text-align: center;
		float: left;
		width: 33.33%;
    @include font-dpr(30);
		@include px2rem(height, 104);
		@include px2rem(line-height, 104);
		.icon {
			@include px2rem(margin-right, 16);
			@include font-dpr(32);
      @include px2rem(line-height, 104);

		}
		&:after {
			content: '';
			position: absolute;
			right: 0;
			@include px2rem(top, 36);
			@include px2rem(height, 32);
			width: 1px;
			background: $corE5;
		}
		&:last-child {
			&:after {
				content: '';
				position: absolute;
				right: 0;
				@include px2rem(top, 36);
				@include px2rem(height, 32);
				width: 1px;
				background: transparent;
			}
		}
	}
}
.rewardPopup {
	@include px2rem(height, 532);
	.support {
		display: block;
		@include font-dpr(26);
		@include px2rem(line-height, 36);
		color: $cor888;
		@include px2rem(padding, 36 0 0 46);
	}
	.rewardMonBox {
		overflow: hidden;
		@include px2rem(padding, 34 34 1 34);
		.moneyChi {
			float: left;
			@include px2rem(height, 100);
			@include px2rem(width, 200);
			border: 1px solid rgba(#336699,0.5);
			@include px2rem(border-radius, 12);
			@include px2rem(margin-right, 41);
			@include px2rem(margin-bottom, 40);
			@include font-dpr(24);
			@include px2rem(line-height, 100);
			text-align: center;
			color: $cor888;
			box-sizing: border-box;
			span {
				color: $fontColor;
				@include font-dpr(48);
				@include px2rem(padding-right, 14);
			}
			&:nth-child(3n) {
				@include px2rem(margin-right, 0);
			}
		}
	}
}
.qrCodeBox {
  position: fixed;
  top: 50%;
  left: 50%;
  @include px2rem(width, 580);
  @include px2rem(height, 820);
  .popupTit {
  	display: block;
  	@include font-dpr(26);
  	@include px2rem(line-height, 36);
  	color: $cor888;
  	@include px2rem(padding, 36 0 0 0);
    text-align: center;
  }
  .payNum {
    @include px2rem(line-height, 84);
    @include font-dpr(48);
    @include px2rem(padding, 36 0);
    @include px2rem(margin, 0 30 24 30);
    border-bottom: 1px solid $corE5;
    text-align: center;
    span {
      @include font-dpr(70);
    }
  }
  .payType {
    @include px2rem(margin, 0 30 34 30);
    @include px2rem(line-height, 36);
    @include font-dpr(26);
    overflow: hidden;
    .typeLeft {
      float: left;
      color: $cor888;
    }
    .typeRight {
      float: right;
      color: $cor444;
      .icon {
        @include font-dpr(30);
        @include px2rem(margin-right, 15);
        color: #09BB07;
      }
    }
  }
  .qrCode {
    display: block;
     @include px2rem(width, 380);
     @include px2rem(height, 380);
     @include px2rem(margin-top, 34);
     @include px2rem(margin-bottom, 14);
     margin-left: auto;
     margin-right: auto;
  }
  .payTip {
    @include font-dpr(30);
    color: $cor333;
    @include px2rem(line-height, 42);
    @include px2rem(margin-top, 14);
    text-align: center;
  }
}
//发表主题
$postTopicColor:#336699;

.post-topic-box{
  width: 100%;
  height: 100%;
  color: #000;
  .post-topic-header{
    position: relative;
    width: 100%;
    @include px2rem(height,88);
    background-color: rgba(249, 249, 249, 0.9);
    box-shadow:0px 1px 0px 0px rgba(0,0,0,0.1);

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include px2rem(padding,0 32);
     .postHeadTit {
       font-weight: normal;
       font-size: 18px;
       line-height: 24px;
       display: block;
       text-align: center;
       width: 100%;
     }
    .van-button{
      min-width: 52px;
      height: 30px;
      position: absolute;
      right: 15px;
      z-index: 9;
      &__text{
        font-size: 14px;
        line-height:20px;
        font-weight: 500;
      }
    }

  }

  .post-topic-form{
    width: 100%;
    height: 70%;
    @include px2rem(min-height,300);
    @include px2rem(padding,0 30 100 30);
    box-sizing: border-box;
    //border-bottom: 1px solid red;
    #post-topic-form-text{
      //width: 100%;
      //height: 100%;
      //display: block;
      //border: 0;
      //resize: none;
      //background: transparent;
      //color: inherit;
      //line-height: inherit;
      //outline: 0;
      //@include px2rem(padding,40);
      //@include font-dpr(34);
      //-webkit-box-sizing: border-box;
      //-moz-box-sizing: border-box;
      //box-sizing: border-box;
      //caret-color: $fontColor;  //光标颜色
    }
  }
  .uploadBox {
    @include px2rem(padding,  0);
  }
  .post-topic-footer{
    width: 100%;
    @include px2rem(height,100);
    position: fixed;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top:1px solid rgba(229,229,229,1);
    display: flex;
    justify-content: space-between;
    @include px2rem(padding,0 32);

    .post-topic-footer-left{
      width: 30%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .post-topic-header-icon{
        color: #4C4C4C;
        @include font-dpr(48);
      }
      .uploadIcon {
        position: relative;
        .hiddenInput {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          opacity: 0;
        }
      }
    }
    .reply-topic-footer-left {
        width: 20%;
    }

    .post-topic-footer-right{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .post-topic-footer-right-sort{
        color: rgba(136, 136, 136, 1);
        @include font-dpr(28);
      }
    }

  }
  .footMove {
    @include px2rem(bottom, 480);
  }
  .popup{
    position: absolute;
  }

}
.enclosure {
  @include px2rem(padding-top, 28);
  .enclosureChi {
    @include px2rem(line-height, 40);
    vertical-align: center;
    .icon {
      float: left;
      @include font-dpr(34);
    }
    .icon-word {
      color: #548DFE;
    }
    .icon-pdf {
      color: #FF5562;
    }
    .icon-rar {
      color: #FFA88E;
    }
    .encName {
      float: left;
      @include px2rem(margin-left, 10);
      @include font-dpr(30);
      color: $fontColor;
      @include px2rem(max-width, 400);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .encDelete {
      display: inline-block;
      @include px2rem(width, 32);
      @include px2rem(height, 32);
      @include px2rem(line-height, 32);
      @include px2rem(margin-left, 28);
      background: #FC6A6A;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      @include font-dpr(16);
      .icon {
        @include font-dpr(16);
        color: $corFff;
      }
    }
  }
}


.expressionBox {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  @include px2rem(height, 480);
  background: #E5E5E5;
  .expreChi {
    float: left;
    @include px2rem(width, 64);
    @include px2rem(height, 64);
    @include px2rem(margin-right, 16);
    @include px2rem(margin-top, 16);
  }
}
.detail-footer {
  background: #F9F9F9;
  position: fixed;
  bottom: 0;
  width: 100%;
  textarea {
    box-sizing: border-box;
    height: 92px;
    width: calc(100% - 16px);
    margin: 8px;
    resize: none;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
  }
  .footer-hint {
    position: absolute;
    right: 15px;
    top: 78px;
    font-size: 12px;
    color: #BBBBBB;
    letter-spacing: 0;
  }

//   .footer-submit {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     color: #BBBBBB;
//     padding-bottom: 8px;
//     :nth-child(1) {
//       display: flex;
//       align-items: center;
//     }
//     span {
//       margin-left: 16px;
//       font-size: 12px;
//     }
//     button {
//       color: #fff;
//       background-color: #108ee9;
//       border-color: #108ee9;
//       border: 1px solid transparent;
//       width: 70px;
//       height: 30px;
//       margin-right: 8px;
//       font-size: 12px;
//     }
//   }
}
.emoji {
  width: 32px;
  height: 32px;
  margin: 0 3px;
}
.face-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  .scroll-wrapper {
    width: 100%;
    @include px2rem(height, 480);
    border-top: solid 1px #DDDDDD;
    position: relative;
    .face-content {
      height: 100%;
      display: flex;
      transition: margin-left .5s;
      .face-page {
        width: 100%;
        height: 100%;
        @include px2rem(padding, 0 16);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        a {
          width: 14.28%;
          height: 23%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .page-dot {
      position: absolute;
      bottom: 10px;
      width: 100%;
      display: flex;
      justify-content: center;
      .dot-item {
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #CCCCCC;
        margin: 0 3px;
      }
      .dot-item.active {
        background: #FF8140;
      }
    }
  }
}
.face-content .v-tabs__wrapper {
  display: none;
}
