@charset "utf-8";
/**
 *   移动端登录模块样式
 */

@import "../../var";
@import "../app";

$w100:100%;  //宽度100%
$payColor:#000; //支付费用字体颜色
$themeColor: rgba(51, 102, 153, 1);  //主题颜色

$heightCalc:calc(100% - #{44px});
$heightCalc40:calc(100% - #{40px});

//输入框闪烁光标颜色
::-webkit-input-placeholder { /* WebKit browsers */
  color:    #B2B2B2;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #B2B2B2;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #B2B2B2;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #B2B2B2;
}


/**
登录、注册、微信等模块公共按钮样式
 */
@mixin loginModelBtn {
  @include px2rem(width,334);
  @include px2rem(height,72);
  @include font-dpr(32);
  @include px2rem(line-height,44);
}

html,
body{
  width: $w100;
  height: 100%;
  display: block;
}

/**
  登录注册页模块，公共标题样式
 */
.login-module-title-box{
  width: $w100;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0 58px 0;

  .login-module-title{
    text-align: center;
    font-size: 19px;
    font-family:PingFangSC-Medium,PingFangSC;
    font-weight:500;
    color:rgba(0,0,0,1);
    line-height: 26px;
  }
}

/**
  登录注册页模块，公共表单样式
 */
.login-module-form{
  font-size: 15px;
  font-family:PingFangSC-Regular,PingFangSC;
  font-weight:400;
  color:#000;
  margin-bottom: 50px;

  .van-cell-group{
    padding: 0;
  }

  .van-cell{
    padding: 14px 0;

    &:not(:last-child)::after{
      left:0;
    }
  }

}


/**
 *  登录-用户名登录
 */
.login-user-box{
  width: $w100;
  //height: calc(100% - 44px);
  height: $heightCalc;

  .login-user-box-main{
    width: $w100;
    //height: calc(100% - 40px);
    height: $heightCalc40;
    padding: 44px 30px 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .login-user-btn{
      text-align: center;
      margin-bottom: 56px;
    }

    .login-user-method{

      .login-user-method-box{
        @include px2rem(width,334);
        @include font-dpr(30);
        margin: auto;
      }

      .login-user-method-icon{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        .login-user-method-icon-box{
          width: 50%;
          display: flex;
          justify-content: space-between;
          .login-user-method-icon-ring{
            display: block;
            @include px2rem(width,108);
            @include px2rem(height,108);
            @include px2rem(border-radius,100);
            border:1px solid rgba(229,229,229,1);
            @include px2rem(margin,0 48);
            text-align: center;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            span{
              @include font-dpr(50);
              @include px2rem(line-height,108);
            }
          }
        }
        .justifyCenter {
          justify-content: center;
        }

      }
    }
  }

}


/**
 * 登录-手机号登录
 */
.login-phone-box{
  width: $w100;
  //height: calc(100% - 44px);
  height: $heightCalc;

  .login-phone-box-main{
    width: $w100;
    //height: calc(100% - 40px);
    height: $heightCalc40;
    padding: 44px 30px 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .login-phone-btn{
      text-align: center;
      margin-bottom: 56px;
    }

    .login-phone-method{

      .login-phone-method-box{
        @include px2rem(width,334);
        @include font-dpr(30);
        margin: auto;
      }

      .login-phone-method-icon{
        display: flex;
        justify-content: center;
        margin-top: 25px;
        .login-phone-method-icon-box{
          width: 50%;
          display: flex;
          justify-content: space-between;
          .login-phone-method-icon-ring{
            @include px2rem(width,108);
            @include px2rem(height,108);
            @include px2rem(border-radius,100);
            border:1px solid rgba(229,229,229,1);
            display: flex;
            justify-content: center;
            align-items: center;
            span{
              @include font-dpr(50)
            }
          }
        }

      }
    }
  }


}


/**
 *  微信登录绑定
 */
.wx-login-bd-box{
  width: 100%;
  height: calc(100% - #{50px});

  .wx-login-bd-main{
    width: 100%;
    //height: calc(100% - #{44px});
    height: $heightCalc;
    font-size: 15px;
    padding: 44px 30px 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .wx-login-bd-title-box{
      width: $w100;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 40px 0;

      .wx-login-bd-title-h2{
        margin-bottom: 20px;
        font-size: 19px;
      }
      .wx-login-main-desc{
        font-size: 15px;
      }
    }

    .wx-login-bd-form{
      margin-bottom: 49px;
      .van-cell-group{
        padding: 0;
      }

      .van-cell{
        padding: 14px 0;

        &:not(:last-child)::after{
          left:0;
        }
      }

    }

    .wx-login-bd-btn{
      width: 100%;
      text-align: center;
    }
  }
}


/**
 *  微信注册绑定
 */
.wx-sign-up-bd-box{
  width: 100%;
  height: calc(100% - #{50px});

  .wx-sign-up-bd-main{
    width: 100%;
    //height: calc(100% - #{44px});
    height: $heightCalc;
    font-size: 15px;
    padding: 44px 30px 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .wx-sign-up-bd-title-box{
      width: $w100;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 40px 0;

      .wx-sign-up-bd-title-box-h2{
        margin-bottom: 20px;
        font-size: 19px;
      }
      .wx-sign-up-main-desc{
        font-size: 15px;
      }
    }

    .wx-sign-up-bd-form{
      margin-bottom: 49px;

      .van-cell-group{
        padding: 0;
      }
      .van-cell{
        padding: 14px 0;

        &:not(:last-child)::after{
          left:0;
        }
      }
    }

    .wx-sign-up-bd-btn{
      width: 100%;
      text-align: center;
    }

  }

}


/**
 *  绑定手机号
 */
.bind-phone-box{
  width: 100%;
  //height: calc(100% - #{44px});
  height: $heightCalc;

  .bind-phone-main{
    width: $w100;
    //height: calc(100% - #{40px});
    height: $heightCalc40;

    padding: 44px 30px 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .bind-phone-main-header{
      @include px2rem(margin,90 0);
    }

    .bind-phone-btn{
      width: 100%;
      text-align: center;
    }

  }

}


/**
 *  忘记密码
 */
.retrieve-password-box{
  width: 100%;
  //height: calc(100% - #{44px});
  height: $heightCalc;

  .retrieve-password-main{
    width: $w100;
    //height: calc(100% - #{40px});
    height: $heightCalc40;

    padding: 44px 30px 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .retrieve-password-main-header{
      @include px2rem(margin,90 0);
    }

    .retrieve-password-btn{
      text-align: center;
    }

  }

}


/**
 *  注册页面
 */
.sign-up-box{
  width: 100%;
  //height: calc(100% - 44px);
  height: $heightCalc;

  .sign-up-main{
    width: 100%;
    //height: calc(100% - 40px);
    height: $heightCalc40;
    padding: 44px 30px 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .sign-up-btn{
      width: 100%;
      text-align: center;
    }

  }

}


/**
 *  支付费用页面
 */
.pay-the-fee-box{
  width: 100%;
  height: 100%;
  background-color: rgba(237, 237, 237, 1);
  overflow: hidden;
  color: $payColor;

  .pay-the-fee-main{
    width: 100%;
    height: 202px;
    //height: 35%;
    text-align: center;
    padding: 44px 0 0 0;
    background-color: white;
    overflow: hidden;
    border-bottom: 1px solid rgba(237, 237, 237, 1);

    .pay-the-fee-titel{
      width: 100%;
      //height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include px2rem(margin-top,80);
      @include px2rem(margin-bottom,116);

      h2{
        font-size:19px;
        font-family:PingFangSC-Medium,PingFang SC;
        font-weight:500;
        color:rgba(0,0,0,1);
        line-height:26px;
      }

    }

    .pay-the-fee-btn{
      //@include px2rem(width,334);
      @include font-dpr(32);
      //@include px2rem(padding,22 14);
    }
    .pay-the-fee-title-footer{
      @include px2rem(margin-top,30);
      @include px2rem(margin-bottom,30);
      @include font-dpr(28);
      font-family:PingFangSC-Medium,PingFang SC;
      font-weight:500;
      color:rgba(0,0,0,0.5);
      @include px2rem(line-height,40)
    }

  }

  .pay-the-fee-permission{
    width: 100%;
    //height: calc(100% - 257px);
    height: calc(100% - #{257px});

    background-color: white;
    @include px2rem(margin-top,22);
    @include px2rem(padding,32);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 1px solid rgba(237, 237, 237, 1);

    .pay-the-fee-per-title{
      @include px2rem(height,70);
      width: 100%;
      border-bottom: 1px solid rgba(229, 229, 229, 1);
      justify-items: center;
      h3{
        @include font-dpr(30);
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(0,0,0,1);
        @include px2rem(line-height,42)
      }
    }

    .pay-the-fee-per-list{

      .pay-the-fee-per-name{
        @include px2rem(padding-top,28);
        @include px2rem(padding-bottom,16);
        @include font-dpr(34);
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:rgba(0,0,0,1);
        @include px2rem(line-height,44);
      }

      p{
        @include font-dpr(28);
        color: rgba(0, 0, 0, 0.5);
        font-size:14px;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        line-height:20px;
      }

    }

    .pay-the-fee-per-list-footer{
      width: 100%;
      height: 30px;
      position: absolute;
      left: 0;
      @include px2rem(bottom,98);
      text-align: center;
      p{
        color: $themeColor;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        @include font-dpr(26);
        line-height:36px;
      }
    }

  }

}
