@charset "utf-8";

/**
 * index style 
 */
@import "./../var";
@import "./_app";
@import  '../../../../../static/css/iconfont.css';
@import "./circle";
$headBg: #EEEFF0;

body,html {
	min-height: 100%;
	// height: auto;
	height: 100%;
	color: $font000;
	@include font-dpr(28);
	font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}
// * {	letter-spacing: 1px;}
a { color: $fontColor;}
.borNone { border: none !important;}
.padB0 { padding-bottom: 0 !important;}
.overHide { overflow: hidden;}
.headOpe {
	text-align: right;
	@include px2rem(padding, 28 30 14 30);
	span {
		display: inline-block;
		@include font-dpr(40);
		@include px2rem(margin-left, 22);
	}
}
/*搜索*/
.searchRes {
	@include px2rem(padding, 0 0 0 30);
	background: #fff;
	.resultTit {
		position: relative;
		@include px2rem(padding-top, 20);
		@include px2rem(line-height, 52);
		text-align: left;
		color: $cor888;
		@include font-dpr(26);
		font-weight: normal;
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    border-bottom: 1px solid $corE5;
		}
	}
	.resUser {
		@include px2rem(padding, 14 0);
		position: relative;
		overflow: hidden;
		.resUserHead {
			float: left;
			@include px2rem(width, 72);
			@include px2rem(height, 72);
			@include px2rem(border-radius, 8);
		}
		.resUserDet {
			overflow: hidden;
			@include font-dpr(30);
			@include px2rem(margin-left, 92);

			
			.resUserName {
				float: left;
				@include px2rem(line-height, 72);
				@include px2rem(max-width, 480);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				i {
					font-style: normal;
					color: $fontColor;
				}
			}
			.userRole {
				float: left;
				@include px2rem(line-height, 72);
				@include px2rem(margin-left, 20);
				color: $cor888;
			}
		}
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		   @include px2rem(left, 92);
		    bottom: 0;
		    right: 0;
		    border-bottom: 1px solid $corE5;
		}
	}
	.searchMore {
		color: $fontColor;
		@include px2rem(line-height, 80);
		@include font-dpr(26);
		.icon {
			color: $fontColor;
			@include px2rem(margin-right, 18);
			@include font-dpr(32);
		}
	}
	.themeRes {
		@include px2rem(padding, 26 30 26 0);
		position: relative;
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    border-bottom: 1px solid $corE5;
		}
	}



}


.logo {
	display: block;
	@include px2rem(height,40);
	margin: 0 auto;
}

.circleDet {
	text-align: center;
	@include px2rem(padding, 36 30 42 30);
	@include px2rem(lin-height, 40);
	color: $cor999;
	border-bottom: 1px solid $corE5;
	span {
		@include px2rem(padding,0 28);
		border-right: 1px solid $corE5;
		@include font-dpr(28);
		&:last-child {
			border: none; 
		}
	}
}
.gap {
	background: $gap;
	width: 100%;
	@include px2rem(height,22);
	border-top: 1px solid $corE5;
	border-bottom: 1px solid $corE5;
}

.fixedHead {
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100%;
	background: #f5f5f5;
}
.fixedNavBar {
	position: fixed !important;
	// top: 0;
	@include px2rem(top, 88);
	left: 0;
	z-index: 16;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid $corE5;
}
.hederWrap {
	position: relative;
	background: $headBg;
	@include px2rem(padding,0 30);
	@include px2rem(height,88);
	.logo {
		position: absolute;
		left: 50%;
		@include px2rem(top,24);
		@include px2rem(margin-left,-124);
	  	@include px2rem(height,40);
	}
	span {
		display: inline-block;
	  	@include px2rem(width,40);
	  	@include px2rem(height,40);
	  	@include px2rem(margin-left,22);
	  	@include px2rem(line-height,22);
	  	&:before {
	  		@include font-dpr(40);
	  	}
	}
}
.contentHead {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	background: #f9f9f9;
	@include px2rem(height, 88);
	box-shadow: 0px 1px rgba(#000,0.1);
	@include px2rem(padding, 20 30);
	box-sizing: border-box;
	.headBack {
		position: absolute;
		@include px2rem(top, 28);
		@include px2rem(left, 30);
		z-index: 12;
		@include font-dpr(32);
		line-height: 1;
	}
	.headTit {
		@include font-dpr(36);
		@include px2rem(line-height, 48);
		text-align: center;
	}
	.menuCli {
		position: absolute;
		@include px2rem(top, 28);
		@include px2rem(right, 30);
		z-index: 12;
		@include font-dpr(32);
		line-height: 1;
	}
}
.content {
	@include px2rem(padding-top, 88);
}
.topRight {
	float: right;
	@include px2rem(width,140);
	@include px2rem(padding-top,24);
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
	background: rgba(#000000,0.6);
	width: 100%;
	height: 100%;
}

// 侧边栏
.sidebarWrap {
  @include px2rem(width,520);
  background: $corE5;
  // position: fixed;
  // right: 0;
  // top: 0;
  // height: 100%;
  z-index: 14
}
.sideCon {
	background: $corFff;
	@include px2rem(padding-left,30);
}
.sideConList {
	.sideCon:first-child {
		.sideItem {
			border-top: none;
		}	
	}
	
}
.sideUserBox {
	overflow: hidden;
	@include px2rem(padding,108 30 28 0);
	.userHead {
		float: left;
		@include px2rem(width,116);
		@include px2rem(height,116);
	}
	.userDet {
		float: left;
		@include px2rem(margin-left,18);
		@include px2rem(width,280);
		.userName {
			@include px2rem(line-height, 40);
			color: $fontColor;
			@include font-dpr(34);
			@include px2rem(margin-bottom, 28);
			@include px2rem(height, 40);
			@include singleline-ellipsis(0);
		}
		.userPhone {
			@include px2rem(line-height, 32);
			color: $cor888;
			@include font-dpr(28);
			@include px2rem(height, 32);
		}
	}
	.jumpJtr {
		float: right;
		@include font-dpr(32);
		color: $corE5;
		@include px2rem(margin-top, 42);
	}
}
.sideItem {
	overflow: hidden;
	@include px2rem(padding, 28 28 28 0);
	border-top: 1px solid $corE5;
	.itemTit {
		float: left;
		@include px2rem(line-height, 42);
		@include font-dpr(30);
	}
	.jumpJtr {
		float: right;
		@include font-dpr(32);
		@include px2rem(line-height, 42);
		color: $corE5;
		// @include px2rem(margin-top, 5);
	}
}
.itemGap {
	background: $corEd;
	border-top: 1px solid $corE5;
	border-bottom: 1px solid $corE5;
	@include px2rem(height, 22);
}
.bg_blue{
  background: #00f;
}
.sidebar_item{
  line-height: 2;
  text-align: center;
  display: block;
}
.padTgap {
	@include px2rem(padding-top, 96);
}
















