@charset "utf-8";

/**
 * index style
 */
@import "./../var";
@import "./_app";
@import  '../../../../../static/css/iconfont.css';
@import "../m_site/circle/circle";
@import "../m_site/circle/search";
@import "../m_site/circle/manageCircle"; //管理站点
$headBg: #EEEFF0;

body,html {
	min-height: 100%;
	height: 100%;
	// height: 100%;
	color: $font000;
	@include font-dpr(28);
	font-family: -apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}
// .van-pull-refresh { min-height: 400px;}
//附件颜色定义
.icon-pdf {
  color: #FF5562 !important;
}
.icon-word {
  color: #548DFE !important;;
}
.icon-rar {
  color: #FFA88E !important;;
}
.icon-doubt {
  color: #BBBBBB !important;;
}
.icon-jpg {
  color: #F10012 !important;;
}
.icon-mp {
  color: #FF8D4A !important;;
}
.icon-mp1 {
  color: #9765C7 !important;;
}
.icon-PNG {
  color: #FFB100 !important;;
}
.icon-ppt {
  color: #FF6B55 !important;;
}
.icon-swf {
  color: #D63621 !important;;
}
.icon-TIFF {
  color: #4D6FB9 !important;;
}
.icon-txt {
  color: #2BD4AE !important;;
}
.icon-xls {
  color: #4CCC7D !important;;
}
.bgEd { min-height: 100%; background: #EDEDED; }
.nullTip {
  text-align: center;
  padding: 60px 30px;
  @include font-dpr(32);
  color: $corB2;
  .nullIcon {}
  .nullWord { line-height: 50px;}
}
* {	margin: 0; padding: 0;}
a { color: $fontColor;}
.lineE5 { border-bottom: 1px solid #e5e5e5;}
.borNone { border: none !important;}
.padB0 { padding-bottom: 0 !important;}
.overHide { overflow: hidden;}
.hide { display: none;}
.headeGap {
    @include px2rem(height, 82);
}

.headOpe {
	text-align: right;
	@include px2rem(padding, 28 30 14 30);
	@include px2rem(height, 40);
	box-sizing: content-box;
	span {
		display: inline-block;
		@include font-dpr(40);
		@include px2rem(margin-left, 22);
	}
}


.logo {
	display: block;
	@include px2rem(height,40);
	margin: 0 auto;
}

.circleDet {
	text-align: center;
	@include px2rem(padding, 36 30 42 30);
	@include px2rem(line-height, 40);
	color: $cor999;
	border-bottom: 1px solid $corE5;
	span {
		@include px2rem(padding,0 28);
		border-right: 1px solid $corE5;
		@include font-dpr(28);
		&:last-child {
			border: none;
		}
	}
}
.gap {
	background: $gap;
	width: 100%;
	@include px2rem(height,22);
	border-top: 1px solid $corE5;
	border-bottom: 1px solid $corE5;
}

.fixedHead {
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 15;
	width: 100%;
	background: #f5f5f5;
}
.fixedNavBar {
	position: fixed !important;
	// top: 0;
	// @include px2rem(top, 88);
	top: 0;
	left: 0;
	z-index: 16;
	width: 100%;
	background: #fff;
	// border-bottom: 1px solid $corE5;
}
.loginBtnFix {
	position: fixed !important;
	@include px2rem(bottom, 106);
	left: 30%;
  right: 30%;
	z-index: 16;
	width: 40%;
  padding: 0;
  min-width: auto;
	opacity: 0.9;
	box-sizing: border-box;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.4s;
  // position: fixed;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
  // position: fixed;
}
.hederWrap {
	position: relative;
	background: $headBg;
	@include px2rem(padding,0 30);
	@include px2rem(height,88);
	.logo {
		position: absolute;
		left: 50%;
		@include px2rem(top,24);
		@include px2rem(margin-left,-124);
	  	@include px2rem(height,40);
	}
	span {
		display: inline-block;
	  	@include px2rem(width,40);
	  	@include px2rem(height,40);
	  	@include px2rem(margin-left,22);
	  	@include px2rem(line-height,22);
	  	&:before {
	  		@include font-dpr(40);
	  	}
	}
}
.contentHead {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	background: #f9f9f9;
	@include px2rem(height, 88);
	box-shadow: 0px 1px rgba(#000,0.05);
	@include px2rem(padding, 20 30);
	box-sizing: border-box;
	.headBack {
		position: absolute;
		@include px2rem(top, 28);
		@include px2rem(left, 30);
		z-index: 12;
		@include font-dpr(32);
		line-height: 1;
	}
	.headTit {
		@include font-dpr(36);
		@include px2rem(line-height, 48);
		text-align: center;
		font-weight: normal;
		margin: 0;
		padding: 0;
	}
	.menuCli {
		position: absolute;
		@include px2rem(top, 28);
		@include px2rem(right, 30);
		z-index: 12;
		@include font-dpr(32);
		line-height: 1;
	}
}
.foueHeadBox {
	background: #f9f9f9;
	box-shadow: 0px 1px rgba(#000,0.05);
	.fourHeader {
		position: relative;
		width: 100%;
		@include px2rem(height, 88);
		@include px2rem(padding, 20 30);
		box-sizing: border-box;
		.headBack {
			position: absolute;
			@include px2rem(top, 28);
			@include px2rem(left, 30);
			z-index: 12;
			@include font-dpr(32);
			line-height: 1;
		}
		.headTit {
			@include font-dpr(36);
			@include px2rem(line-height, 48);
			text-align: center;
			font-weight: normal;
			margin: 0;
			padding: 0;
		}
		.menuCli {
			position: absolute;
			@include px2rem(top, 28);
			@include px2rem(right, 30);
			z-index: 12;
			@include font-dpr(32);
			line-height: 1;
		}
	}
}
.content {
	@include px2rem(padding-top, 88);
}
.topRight {
	float: right;
	@include px2rem(width,140);
	@include px2rem(padding-top,24);
}

.mask {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
	background: rgba(#000000,0.6);
	width: 100%;
	height: 100%;
}

// 侧边栏
.sidebarWrap {
  @include px2rem(width,520);
  background: $corE5;
  // position: fixed;
  // right: 0;
  // top: 0;
  // height: 100%;
  z-index: 14
}
.sideCon {
	background: $corFff;
	@include px2rem(padding-left,30);
}
.sideConList {
	.sideCon:first-child {
		.sideItem {
			border-top: none;
		}
	}

}
.sideUserBox {
	overflow: hidden;
	@include px2rem(padding,108 30 28 0);
	.userHead {
		float: left;
		@include px2rem(width,116);
		@include px2rem(height,116);
	}
	.userDet {
		float: left;
		@include px2rem(margin-left,18);
		@include px2rem(width,280);
		.userName {
			@include px2rem(line-height, 40);
			color: $fontColor;
			@include font-dpr(34);
			@include px2rem(margin-bottom, 28);
			@include px2rem(height, 40);
			@include singleline-ellipsis(0);
		}
		.userPhone {
			@include px2rem(line-height, 32);
			color: $cor888;
			@include font-dpr(28);
			@include px2rem(height, 32);
		}
	}
	.jumpJtr {
		float: right;
		@include font-dpr(32);
		color: $corE5;
		@include px2rem(margin-top, 42);
	}
}
.sideItem {
	overflow: hidden;
	@include px2rem(padding, 28 28 28 0);
	border-top: 1px solid $corE5;
	.itemTit {
		float: left;
		@include px2rem(line-height, 42);
		@include font-dpr(30);
	}
	.jumpJtr {
		float: right;
		@include font-dpr(32);
		@include px2rem(line-height, 42);
		color: $corE5;
		// @include px2rem(margin-top, 5);
	}
}
.itemGap {
	background: $corEd;
	border-top: 1px solid $corE5;
	border-bottom: 1px solid $corE5;
	@include px2rem(height, 22);
}
.bg_blue{
  background: #00f;
}
.sidebar_item{
  line-height: 2;
  text-align: center;
  display: block;
}
.padTgap {
	@include px2rem(padding-top, 96);
}
//toast
.toast { position: fixed; z-index: 200; left: 50%; top:45%; transition:all .5s; -webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%); -ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%); transform: translateX(-50%) translateY(-50%); text-align: center; border-radius: 5px; color:#FFF; background: rgba(17, 17, 17, 0.7);      height: 45px; line-height: 45px; padding: 0 15px; max-width: 150px; }

//微信授权
.weLogo {
  display: block;
  @include px2rem(height, 68);
  @include px2rem(margin-top, 258);
  @include px2rem(margin-bottom, 166);
  margin-left: auto;
  margin-right: auto;
}
.weAuthorizeBtn {
  display: block;
  @include px2rem(margin-bottom, 166);
  width: 100%;
}
//绑定手机号
.grayBg {
  color: #999;
}
//
.likePostContent {
	@include font-dpr(30);
	@include px2rem(line-height, 40);
	@include px2rem(margin-bottom, 20);
	@include px2rem(padding, 0 30 28 30);
	a {
		display: block;
		@include px2rem(line-height, 40);
		color: $font000;
	}
	.quoteCon {
		display: block;
			  @include px2rem(padding, 16);
		@include px2rem(margin-bottom, 16);
			  background: $corF7;
			  @include font-dpr(26);
			  color: $cor888;
		  }
}
