@charset "utf-8";
/**
  后台-index
  @Param：后台所有大小单位以大写PX书写，避免转成rem。
 */

@import "modules/element-variables";

html,body{
  width: 100%;
  height: 100%;
}

.index-container-box{
  width: 100%;
  height: 100%;

  .index-header{
    background-color: $blue;
    color: $headerFontColor;

    display: flex;
    align-items: center;
    position: relative;

    .index-header__icon{
      height: 100%;
      width: 216Px;
      display: flex;
      margin-right: 20Px;
      align-items: center;
      justify-content: center;

      a{
        width: 162Px;
        height: 30Px;
        img{
          height: 100%;
        }
      }

    }

    .index-header__nav{
      width: 400PX;
      margin-left: 34PX;

      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      .menu-demo{
        width: 100%;
        height: 50PX;
        list-style: none;
        position: relative;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-start;

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        .menu-item{
          height: 100%;
          list-style: none;
          position: relative;
          margin-right: 40PX;
          padding-left: 0;
          line-height: 50PX;
          text-align: center;
          color:$headerFontColorShallow;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          border-bottom: 0 solid $headerFontColorShallow;
          transition-duration:0.5s;
          cursor: pointer;

          font-size:14PX;
          font-family:PingFangSC-Medium,PingFang SC;
          font-weight:500;

          &:hover{
            color: $headerFontColor;
          }
        }

        .is-active{
          color: $headerFontColor;
          border-bottom: 2PX solid white;
        }

      }

    }

    .index-header__info-menu{
      position: absolute;
      right: 14PX;

      span{
        font-size:14PX;
        font-family:PingFangSC-Regular,PingFang SC;
        font-weight:400;
        color:$headerFontColor;
        line-height:20PX;
      }

      .site-home{
        margin-left: 20PX;
      }

    }

  }

  .index-main-con{
    width: 100%;
    height: calc(100% - #{80px});

    .index-main-con__side{
      width: 100%;
      height: 100%;
      box-shadow:0 2PX 12PX 0 rgba(0,0,0,0.06);
      padding: 20PX 40PX ;
      position: relative;

      .index-main-con__side-title{
        height: 42PX;
        border-bottom: 1PX solid $borderColor;
        span{
          font-size:18PX;
          font-family:PingFangSC-Semibold,PingFang SC;
          font-weight:600;
          color:rgba(0,0,0,1);
          line-height:25PX;
          letter-spacing:25PX;
        }

      }

      .index-main-con__side-list{

        .index-side-ul{
          padding-top: 14PX;

          .index-side-li{
            padding-bottom: 25PX;

            font-size:14PX;
            font-family:PingFangSC-Regular,PingFang SC;
            font-weight:400;
            line-height:20PX;

            display: flex;
            align-items: center;

            span{
              &:first-of-type{
                display: inline-block;
                width: 14PX;
                height: 14PX;
                margin-right: 8PX;
                font-size: 14PX;
                line-height: 14PX;
              }
            }

            &:hover{
              color:$blue;
            }

          }

          .is-active{
            color: $blue;
          }

        }

      }

      .index-main-con__side-footer{
        position: absolute;
        bottom: 30PX;
        left: 50%;
        transform: translateX(-50%);
      }


    }

    .index-main-con__main{
      height: 100%;
      //width: calc(100% - #{256PX});
      width: calc(100% - #{256px});
      padding: 0;
      padding-bottom: 20PX;

      .index-main-con__main-title{
        width: 100%;
        height: 65PX;
        border-bottom: 1PX solid $borderColor;
        padding: 20PX 49PX;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 25PX;
        h1{
          font-size:18PX;
          font-family:PingFangSC-Regular,PingFang SC;
          font-weight:400;
          color:rgba(0,0,0,1);
          line-height: 25PX;
        }
      }

      .router-con{
        padding: 0 49PX;
      }

    }

  }

}
