@charset "utf-8";

/** 进度条 */
#progress_loading {
  width: 100%;
  height: 3px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
  overflow: hidden;
}

#progress_loading div {
  width: 0px;
  height: 3px;
  border-radius: 1.5px;
  background-color: #0bf23c;
}