<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On
    SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . index.php?%{QUERY_STRING} [L,QSA,PT]
    RewriteRule ^$ index.php?%{QUERY_STRING} [L,QSA,PT]
</IfModule>
