
/**
  我的页面
 */


@import "../app";
@import "../../var";

//我的资料
.modify-data-box{
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #EDEDED;
  //overflow: hidden;

  .modify-data-main{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @include px2rem(padding,88 0 0 0);
    border-bottom: 1PX solid #E5E5E5;
    background-color: white;

    .modify-data-avatar{
      height: auto;
      @include px2rem(padding,16 0 16 30);
      box-sizing: border-box;
      .modify-data-avatar-img {
        img {
          width: 58px;
          height: 58px;
          border-radius: 4px;
          position: relative;
          vertical-align: top;
        }
      }
      .iconfont {
        display: inline-block;
        @include px2rem(margin-right, 30);
        position: relative;
        @include px2rem(top, 44);
      }
    }

    .modify-data-wx{

      .modify-data-wx-string{

      }
    }
  }

}


/**
  修改手机号
 */
.modify-phone-box{
  width: 100%;
  height: calc(100% - 44px);
  //overflow: hidden;

  .modify-phone-main{
    width: 100%;
    height: calc(100% - 40px);
    //@include px2rem(padding,0 30);
    padding: 44px 0 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .modify-phone-title-box{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include px2rem(margin-top,80);
      @include px2rem(margin-bottom,80);

      .modify-phone-title-p{
        text-align: center;
        @include font-dpr(38);
        font-family:PingFangSC-Medium,PingFangSC;
        font-weight:500;
        color:rgba(0,0,0,1);
        @include px2rem(line-height,52);
      }
    }

    .modify-phone-operating{
      width: 100%;
      height: auto;
      @include px2rem(margin-top,100);
      //display: flex;
      //align-items: center;
      //justify-items: center;
      text-align: center;
    }
  }
}

/**
  修改密码
 */
.change-pwd-main {
  padding-top: 44px;
}
/**
  点赞我的
 */
.quote-reply {
  @include px2rem(line-height,40);
  span {
    display: block;
    @include px2rem(line-height,40);
    color: #444444;
    @include font-dpr(28);
    }
}
// .reference .reference-cont {
//   span {
//     display: block;
//     @include px2rem(line-height,40);
//   }
// }
.postContent {
	@include font-dpr(30);
	@include px2rem(line-height, 40);
	@include px2rem(margin-bottom, 20);
	a {
		display: block;
		@include px2rem(line-height, 40);
		color: $font000;
	}
}

/**
  提现
 */
.withdraw-box{
  .withdraw-main{
    @include px2rem(paddinh-top, 88);
  }
}
