/**
  我的页面
 */


@import "../app";
@import "../../var";

//我的资料
.modify-data-box{
  width: 100%;
  height: 100%;
  color: #000;
  background-color: #EDEDED;
  //overflow: hidden;

  .modify-data-main{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @include px2rem(padding,0 30);
    border-bottom: 1px solid #E5E5E5;
    background-color: white;

    .modify-data-avatar{
      height: auto;
      padding: 8px 0;
      .modify-data-avatar-img {
        img {
          width: 58px;
          height: 58px;
          border-radius: 4px;
          position: relative;
        }
      }
    }

    .modify-data-wx{

      .modify-data-wx-string{

      }
    }
  }

}


/**
  修改手机号
 */
.modify-phone-box{
  width: 100%;
  height: calc(100% - 44px);
  //overflow: hidden;

  .modify-phone-main{
    width: 100%;
    height: calc(100% - 40px);
    //@include px2rem(padding,0 30);
    padding: 0 29px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    .modify-phone-title-box{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @include px2rem(margin-top,80);
      @include px2rem(margin-bottom,80);

      .modify-phone-title-p{
        text-align: center;
        @include font-dpr(38);
        font-family:PingFangSC-Medium,PingFangSC;
        font-weight:500;
        color:rgba(0,0,0,1);
        @include px2rem(line-height,52);
      }
    }

    .modify-phone-operating{
      width: 100%;
      height: auto;
      @include px2rem(margin-top,100);
      //display: flex;
      //align-items: center;
      //justify-items: center;
      text-align: center;
    }
  }
}

