@charset "utf-8";
/**
 *移动端绑定手机号
 */

@import "../../var";
@import "../app";


.bind-phone-box{
  width: 100%;
  height: calc(100% - 44px);
  //background-color: red;

  .bind-phone-main{
    width: 100%;
    height: calc(100% - 60px);

    .bind-phone-main-header{
      margin: 45px 0;
    }

    .bind-phone-btn{
      width: 100%;
      text-align: center;
    }

  }

}
