@charset "utf-8";
/**
 *移动端忘记密码
 */

@import "../../var";
@import "../app";


.retrieve-password-box{
  width: 100%;
  height: calc(100% - 44px);
  //background-color: red;

  .retrieve-password-main{
    width: 100%;
    height: calc(100% - 60px);

    .retrieve-password-main-header{
      margin: 45px 0;
    }

    .retrieve-password-btn{
      width: 100%;
      text-align: center;
    }

  }

}
