@font-face {
  font-family: 'iconfont';  /* project id 1509190 */
  src: url('../../font/admin/discuzQ.eot');
  src: url('../../font/admin/discuzQ.eot?#iefix') format('embedded-opentype'),
  url('../../font/admin/discuzQ.woff2') format('woff2'),
  url('../../font/admin/discuzQ.woff') format('woff'),
  url('../../font/admin/discuzQ.ttf') format('truetype'),
  url('../../font/admin/discuzQ.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16PX;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconvideo:before {
  content: "\e62e";
}

.iconchangwen:before {
  content: "\e62d";
}

.iconshipin:before {
  content: "\e62c";
}

.iconyanzhengma:before {
  content: "\e62b";
}

.iconshimingrenzheng:before {
  content: "\e62a";
}

.iconduixiangcunchu:before {
  content: "\e629";
}

.iconmoney:before {
  content: "\e62a1";
}

.icontongzhi:before {
  content: "\e628";
}

.icondingdanzongshu:before {
  content: "\e61f";
}

.icondingdantongji:before {
  content: "\e620";
}

.icontixian:before {
  content: "\e621";
}

.iconcaiwutongji:before {
  content: "\e622";
}

.iconchongzhi:before {
  content: "\e623";
}

.iconzhucejiarushouru:before {
  content: "\e624";
}

.icondashangtichengshouru:before {
  content: "\e625";
}

.iconqianbaozongjine:before {
  content: "\e626";
}

.iconshouxufeishouru:before {
  content: "\e627";
}

.iconyonghushenhe:before {
  content: "\e61e";
}

.iconhuishouzhan:before {
  content: "\e602";
}

.iconneirongguolvshezhi:before {
  content: "\e603";
}

.iconneirongshenhe:before {
  content: "\e604";
}

.iconneirongfenlei:before {
  content: "\e605";
}

.iconneirongguanli:before {
  content: "\e606";
}

.iconzhandianshezhi:before {
  content: "\e607";
}

.iconshouye:before {
  content: "\e608";
}

.icontixianguanli:before {
  content: "\e609";
}

.iconxiaochengxu:before {
  content: "\e60a";
}

.iconyonghuguanli:before {
  content: "\e60b";
}

.iconwenben:before {
  content: "\e60c";
}

.iconjiaoseguanli:before {
  content: "\e60d";
}

.iconzijinmingxi:before {
  content: "\e60e";
}

.icontupian:before {
  content: "\e60f";
}

.iconH:before {
  content: "\e610";
}

.iconzhifushezhi:before {
  content: "\e611";
}

.iconAPI:before {
  content: "\e612";
}

.iconicon_add:before {
  content: "\e613";
}

.iconzhuceshezhi:before {
  content: "\e614";
}

.iconicon_:before {
  content: "\e615";
}

.iconduanxin:before {
  content: "\e616";
}

.icondingdanjilu:before {
  content: "\e617";
}

.icontengxunyun:before {
  content: "\e618";
}

.iconweixin:before {
  content: "\e619";
}

.icondisanfangdenglushezhi:before {
  content: "\e61a";
}

.iconicon_select:before {
  content: "\e61b";
}

.iconfujianshezhi:before {
  content: "\e61c";
}

.icondown-menu:before {
  content: "\e61d";
}

.iconpassword:before {
  content: "\e600";
}

.iconuser:before {
  content: "\e601";
}
.iconwatermark:before {
  content: "\e694";
}
