@charset "utf-8";
/**
  公共组件--横条
 */

@import "../../modules/element-variables";

.card-row-box{
  min-width: 650PX;
  .card-row-lf{
    display: inline-block;
    margin-right: 14PX;
    width: 40%;
  }
  .card-row-rf{
    width: 57%;
    flex-basis:auto;
    display: inline-block;
    vertical-align: top;
    padding-top: 8PX;
    span{
      color:rgba(144,147,153,1);
      line-height:20PX;
    }

  }
}
