@charset "utf-8";

@import "var";

/*
  elementUI-主题
*/
/* 改变主题色变量 */
$--color-primary:$main;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
//@import "~element-ui/packages/theme-chalk/src/index";


//多选、单选按钮颜色、副颜色
$selectColor:$selectColor;
//多选、单选文字颜色
$selectFontColor:$selectFontColor;


/*表格表头背景颜色*/
.el-table th{
  background-color: #FAFAFA;
  color: #606266;
  font-weight: 600;
}
/*表格单元格左缩进*/
.el-table .cell{
  padding-left: 17PX;
}
/*表格表头高度*/
.el-table tr{
  height: 53PX;
}

/*复选按钮*/
.el-checkbox{
  font-weight: 400;
  color: #303133;
}
.el-checkbox__input.is-checked .el-checkbox__inner{
  background-color: $selectColor;
  border-color: $selectColor;
}
.el-checkbox__input.is-checked + .el-checkbox__label{
  color: $selectFontColor;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner{
  background-color: $selectColor;
  border-color: $selectColor;
}
/*单选按钮*/
.el-radio__input.is-checked .el-radio__inner{
  background-color: $selectColor;
  border-color: $selectColor;
}
.el-radio__input.is-checked + .el-radio__label{
  color: $selectFontColor;
}

/*按钮*/
.el-button{
  font-weight: 400;
}
.el-button--default{
  border: 1PX solid $--color-primary;
  color: $--color-primary;
  &:hover{
    border:1PX solid $--color-primary;
    //background-color: $selectColor;
  }
  &:focus{
    border:1PX solid $--color-primary;
    //background-color: $selectColor;
  }
}
.el-button--primary{
  color: #FFFFFF;
}
.el-button--mini{
  span{
    font-size: 12PX;
  }
}
.el-button.is-disabled{
  // background-color: #EDF5FF;
  // border: 1PX solid #D9ECFF;
  // color: #8CC5FF;

  &:hover{
    background-color: none;
    border: none;
    color: none;
  }
  &:focus{
    background-color: none;
    border: none;
    color:none;
  }

}

/*输入框*/
.el-input__inner{
  border: 1PX solid #D8DCE6;
}

/*提示框*/
.el-tooltip__popper{
  max-width: 50%;
}

/*关闭按钮*/
.el-icon-circle-close{
  color: white;
  font-size: 40PX;
}
