.iconweixin{
  color: #50B674;
}

.iconH{
  color: #E45300;
}

.iconxiaochengxu{
  color: #59C1AD;
}

.iconAPI{
  color: #E73838;
}

.iconduanxin{
  color: #4EC5F1;
}

.icontupian{
  color: #50B674;
}

.iconwenben{
  color: #F4BB2A;
}

.iconicon_select{
  color: #336699;
  font-size: 13PX;
}

.iconicon_{
  color: #336699;
  font-size: 13PX;
}

.iconshimingrenzheng{
  color: #F47A2A;
}

.iconduixiangcunchu{
  color: #8792E3;
}
.iconchongzhi,.iconqianbaozongjine,.icondashangtichengshouru,.iconzhucejiarushouru,.icondingdanzongshu,.iconshouxufeishouru,.iconcaiwutongji,.icontixian{
  color: #336699;
  font-size: 18PX;
}
.iconyanzhengma{
  color:#4D7CF0;
}
.iconshipin{
  color:#BE0000;
}
