/**
 * 抽象出来的样式
 * 例：清除默认浏览器样式
 */

@import "_var";
@import "element-variables";
@import "icon";

/*
  公共样式
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}


/*使用Card组件时，去掉底部边框*/
.footer-btn{
  border-bottom: 0;
}


/*
  后台样式总设置
*/
html,body{
  width: 100%;
  height: 100%;
  min-width: 1100PX;
  font:14PX/1 Lucida Grande,Lucida Sans Unicode,Helvetica Neue,Hiragino Sans GB,Microsoft Yahei,sans-serif !important;
  a{
    color: $main;
  }
}
