/*财务导航菜单各个页面*/

@import "../common/index";
@import "../../../../../static/css/admin/discuzQfont.css";



/*
  资金明细
 */
.fund-details-box{

  .fund-details__search-box{
    padding-top: 15PX;
    display: flex;
    flex-wrap: wrap;

    .fund-details__search-condition{
      flex: 1;
      display: flex;
      align-items: center;
      margin-right: 30PX;
      margin-bottom: 15PX;

      .el-input{
        min-width: 150PX;
      }

      .el-date-editor.el-input__inner{
        width: 0;
        flex: 1;
        min-width: 300PX;
      }

      &__title{
        min-width: 70PX;
        margin-right: 8PX;
      }

      &:last-of-type{
        flex: 0;
      }
    }
  }
}


/*
  订单记录
*/
.order-record-box{

  .order-record__search-box{
    //padding: 15PX 0;
    padding-top: 15PX;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .order-record__search-condition{
      flex: 1;
      display: flex;
      align-items: center;
      margin-right: 30PX;
      margin-bottom: 15PX;

      .el-input{
        min-width: 150PX;
      }

      .el-date-editor.el-input__inner{
        width: 260PX;
      }

      &__title{
        min-width: 70PX;
        margin-right: 8PX;
      }

      //&:first-of-type{
      //  margin-bottom: 15PX;
      //}

      &:last-of-type{
        flex: 0;
      }
    }

  }
}


/*
  提现申请
*/
.withdrawal-application-box{

  .withdrawal-application__search-box{
    //padding: 15PX 0;
    padding-top: 15PX;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .withdrawal-application__search-condition{
      flex: 1;
      display: flex;
      align-items: center;
      margin-right: 30PX;
      margin-bottom: 15PX;

      .el-input{
        min-width: 150PX;
      }

      .el-date-editor.el-input__inner{
        width: 260PX;
      }

      &__title{
        min-width: 70PX;
        margin-right: 8PX;
      }

      .el-input__suffix{
        min-width: 0;
        margin-right: 0;
      }

      &:last-of-type{
        flex: 0;
      }

      &:nth-child(4){
        flex: 0;
        min-width: 210PX;
      }

    }
  }
}


/*
  提现设置
*/
.withdrawal-setting-box{

  //.el-button {
  //  margin-right: 40PX;
  //}
}
/*
  财务统计
*/
.financial-box{
  position: relative;
  // &::before{content:'';width:49PX;height:100%;position: absolute;top:0;left:-49PX;background:rgba(244,247,249,1);};
  // &::after{content:'';width:49PX;height:100%;position: absolute;top:0;right:-49PX;background:rgba(244,247,249,1);};
  // margin-left:-49PX;
  // margin-right:-49PX;
  // background:rgba(244,247,249,1);
  .financial-statistics{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    padding-top: 18PX;
    .financial{
      // width:235PX;
      width:23%;
      height:131PX;
      background:rgba(255,255,255,1);
      // box-shadow:0px 0px 8px 0px rgba(0,0,0,0.1);
      border:1PX solid rgba(220,223,230,1);
      border-radius:4px;
      margin-bottom:14PX;
      // margin-left:24PX;
      // background:red;
      position: relative;
      .financial-head{
        width:100%;
        height:48PX;
        line-height:48PX;
        border-bottom: 1PX solid rgba(235,238,245,1);
        display: flex;
        .financial-title{
          color:#606266;
          padding-left:13PX;
          flex:2;
        }
        .iconfont{
          padding-right:14PX;
          
        }
      }
      .financial-con{
        position: absolute;
        color:#3E4043;
        // margin:0 auto;
        left:14PX;
        top:50%;
        font-size: 30PX;
      }
   
    }
  }
  .financial-profit,.financial-order{
    background:rgba(255,255,255,1);
    // box-shadow:0px 0px 8px 0px rgba(0,0,0,0.1);
    border:1PX solid rgba(220,223,230,1);
    border-radius:4px;
    height:560PX;
    position: relative;
    .financial-profit-title{
      font-size: 14PX;
      color:#6B6D71;
      height:48PX;
      display: flex;
      justify-content:space-between;
      flex-wrap: wrap;
      border-bottom: 1PX solid #ccc;
      align-items: center;
      .iconcaiwutongji,.icondingdanzongshu{
         margin-left:14PX;
      }
      .financial-profit-title-right{
        display: flex;
        align-items: center;
        padding-right:14PX;
        .active{
          color:#3571A5
        }
        ul{
          display: inline-block;
        }
        ul li {
          float: left;
          padding-right: 30PX;
          font-size: 14PX;
          cursor: pointer;  
          // text-align: center;   
      }
      .input-class{
        width:300PX;
      }
      }

    }
    .noData{
      position: absolute;
      height:473PX;
      // background:red;
      line-height: 473PX;
      left:50%;
    }
    .financial-profit-chart{
      height:473PX;
      // background: pink;
      margin:17px 15px 21PX 14PX;
    }
  }
  .financial-order{
    margin-top:20PX;
  }

}

