@charset "utf-8";


@import "../common/index";
@import "../../../../../static/css/admin/discuzQfont.css";

/**
  登录界面
 */
.login-box{
  width: 100%;
  height: 100%;
  min-width: 450PX;
  min-height: 550PX;
  background-color: #F4F4F4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .login-main{
    width: 400PX;
    height: 484PX;
    background-color: white;
    box-shadow:0 0 12PX 0 rgba(88,88,90,0.21);
    border-radius:4PX;

    .login-header{
      padding: 74PX 105PX 35PX 105PX;

      a{
        height: 30PX;
        width: 184PX;
        display: block;
        img{
          width: 100%;
          height: 100%;
        }
      }

    }

    .login-main-form{
      padding: 22PX 40PX;

      .el-form-item{
        border-bottom: 1PX solid #E3E3E3;
        padding: 12PX 0 ;
        margin-bottom: 0;

        .el-input__prefix{
          display: flex;
          align-items: center;
        }

        .el-form-item__error{
          top: 90%;
          padding-top: 0;
          left: 42PX;
        }

      }

      .el-input__inner{
        border: 0;
        padding-left: 42PX;

        :-moz-placeholder {
          color: $inputPlaceholder;
          opacity: 1;
        }

        ::-moz-placeholder {
          color: $inputPlaceholder;
          opacity: 1;
        }

      }

      .iconfont{
        font-size: 22PX;
        color: #D7DEE4;
      }

      .login-main-form__item{
        border-bottom: 0;

        .el-button{
          width: 256PX;
          height: 36PX;
          padding-top: 10PX;
          padding-bottom:10PX;
        }
        .el-checkbox__label{
          color: $descColor;
        }

        &:last-child{
          text-align: center;
        }

      }

    }

  }

  .login-footer{
    width: 100%;
    margin-top: 76PX;
    text-align: center;
    color: rgba(0,0,0,0.45);
  }

}
