@font-face {
  font-family: "discuzQ";
  src: url('../font/discuzQ.eot?t=1571479728376'); /* IE9 */
  src: url('../font/discuzQ.eot?t=1571479728376#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/discuzQ.woff?t=1571479728376') format('woff2'),
  url('../font/discuzQ.woff?t=1571479728376') format('woff'),
  url('../font/discuzQ.ttf?t=1571479728376') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/discuzQ.svg?t=1571479728376#discuzQ') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "discuzQ" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-back:before {
  content: "\e605";
}

.icon-money:before {
  content: "\e606";
}

.icon-praise-after:before {
  content: "\e607";
}

.icon-publish:before {
  content: "\e608";
}

.icon-right:before {
  content: "\e609";
}

.icon-right-arrow:before {
  content: "\e60a";
}

.icon-search:before {
  content: "\e60b";
}

.icon-Shape:before {
  content: "\e60c";
}

.icon-shouji:before {
  content: "\e60d";
}

.icon-weixin:before {
  content: "\e60e";
}

.icon-yonghu:before {
  content: "\e60f";
}

.icon-down-menu:before {
  content: "\e612";
}

.icon-more:before {
  content: "\e613";
}

.icon-top:before {
  content: "\e614";
}

.icon-enclosure:before {
  content: "\e615";
}

.icon-label:before {
  content: "\e616";
}

.icon-picture:before {
  content: "\e617";
}

.icon-pdf:before {
  content: "\e618";
}

.icon-rar:before {
  content: "\e619";
}

.icon-word:before {
  content: "\e61a";
}

.icon-like:before {
  content: "\e61b";
}

.icon-review:before {
  content: "\e61c";
}

.icon-reward:before {
  content: "\e61d";
}
.icon-up-menu:before {
  content: "\e61e";
}
.icon-choice-item:before {
  content: "\e61f";
}
.icon-keyboard:before {
  content: "\e620";
}

.icon-close:before {
  content: "\e621";
}
.icon-wepay:before {
  content: "\e622";
}
.icon-doubt:before {
  content: "\e623";
}

.icon-jpg:before {
  content: "\e624";
}

.icon-mp:before {
  content: "\e625";
}

.icon-mp1:before {
  content: "\e626";
}

.icon-PNG:before {
  content: "\e628";
}

.icon-ppt:before {
  content: "\e629";
}

.icon-swf:before {
  content: "\e62a";
}

.icon-TIFF:before {
  content: "\e62b";
}

.icon-txt:before {
  content: "\e62c";
}

.icon-xls:before {
  content: "\e62d";
}
.icon-longtext:before {
  content: "\e634";
}

.icon-theme:before {
  content: "\e630";
}

.icon-money1:before {
  content: "\e62f";
}

.icon-closeCho:before {
  content: "\e62e";
}
.icon-unordered-list:before {
  content: "\e63c";
}

.icon-title:before {
  content: "\e63b";
}

.icon-quote:before {
  content: "\e63a";
}

.icon-ordered-list:before {
  content: "\e639";
}

.icon-link:before {
  content: "\e638";
}

.icon-italic:before {
  content: "\e637";
}

.icon-code:before {
  content: "\e636";
}

.icon-bold:before {
  content: "\e635";
}
.icon-wxpay:before {
  content: "\e63f";
}

.icon-wallet:before {
  content: "\e63e";
}

.icon-alipay:before {
  content: "\e63d";
}
.icon-add:before {
  content: "\e640";
}
.icon-selected:before {
  content: "\e641";
}

.icon-video:before {
  content: "\e642";
}
.icon-video1:before {
  content: "\e643";
}
.icon-play:before {
  content: "\e644";
}