@font-face {
  font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1571479728376'); /* IE9 */
  src: url('../font/iconfont.eot?t=1571479728376#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1571479728376') format('woff2'),
  url('../font/iconfont.woff?t=1571479728376') format('woff'),
  url('../font/iconfont.ttf?t=1571479728376') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/iconfont.svg?t=1571479728376#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-back:before {
  content: "\e605";
}

.icon-money:before {
  content: "\e606";
}

.icon-praise-after:before {
  content: "\e607";
}

.icon-publish:before {
  content: "\e608";
}

.icon-right:before {
  content: "\e609";
}

.icon-right-arrow:before {
  content: "\e60a";
}

.icon-search:before {
  content: "\e60b";
}

.icon-Shape:before {
  content: "\e60c";
}

.icon-shouji:before {
  content: "\e60d";
}

.icon-weixin:before {
  content: "\e60e";
}

.icon-yonghu:before {
  content: "\e60f";
}

.icon-down-menu:before {
  content: "\e612";
}

.icon-more:before {
  content: "\e613";
}

.icon-top:before {
  content: "\e614";
}

.icon-enclosure:before {
  content: "\e615";
}

.icon-label:before {
  content: "\e616";
}

.icon-picture:before {
  content: "\e617";
}

.icon-pdf:before {
  content: "\e618";
}

.icon-rar:before {
  content: "\e619";
}

.icon-word:before {
  content: "\e61a";
}

.icon-like:before {
  content: "\e61b";
}

.icon-review:before {
  content: "\e61c";
}

.icon-reward:before {
  content: "\e61d";
}