@charset "utf-8";

/**
 * index style 
 */
@import "./../var";
@import "./_app";

body {
	// color: $fontColor;
	background: $corFff;
}
.icon-praise-after {
	color: $fontColor;
}
.navBarBox {
	@include px2rem(height, 94);
	@include px2rem(padding, 0 8);
	overflow: hidden;
	.navBarCon {
		width: 100%;
		overflow: auto;
		margin: 0 auto;
		height: 120%;
		white-space: nowrap;
	}

}

.navBarCon li {
	width: auto;
	display: inline-block;
	@include px2rem(line-height, 90);
	@include px2rem(padding, 0 12);
	@include px2rem(margin, 0 22);
	cursor: pointer;
	@include font-dpr(30);
}
.navBarCon li.navActi {
	color: $fontColor;
	border-bottom: 2px solid $fontColor;
}
.themeTitBox {
	@include px2rem(height, 106);
	@include px2rem(padding, 30 30 28 30);
	border-bottom: 1px solid $corE5;
	box-sizing:border-box;
	.themeTit {
		float: left;
		color: #888888;
		@include font-dpr(28);
		@include px2rem(line-height, 48);
	}
	.screen {
		float: right;
		cursor: pointer;
		@include font-dpr(28);
		color: #888888;
		@include px2rem(line-height, 48);
	}
}
.cirPostCon {
	@include px2rem(padding, 30 30 20 30);
}
.postTop {
	overflow: hidden;
	@include px2rem(margin-bottom, 12);
}
.postPer {
	float: left;
	@include px2rem(max-width, 580);
	.postHead {
		float: left;
		@include px2rem(width, 80);
		@include px2rem(height, 80);
		@include px2rem(margin-right, 18);
		@include px2rem(border-radius, 8);
	}
	.perDet {
		float: left;
		@include px2rem(height, 80);
		@include px2rem(width, 480);
		.perName {
			@include px2rem(line-height, 40);
			color: $fontColor;
			@include font-dpr(30);
			@include px2rem(margin-bottom, 4);
			@include px2rem(height, 40);
			@include singleline-ellipsis(0);
		}
		.postTime {
			@include px2rem(line-height, 32);
			color: $cor888;
			@include font-dpr(28);
		}
	}
}
.postOpera {
	float: right;
	@include px2rem(height, 80);
	.moreCli {
		display: inline-block;
		@include px2rem(height, 40);
		@include px2rem(width, 52);
		background: $corF7;
		span {
			color: $fontColor;
		}
	}
	span {
		@include font-dpr(40);
		@include px2rem(line-height, 40);
		color: $corD8;
		cursor: pointer;
	}
}
.postContent {
	@include font-dpr(30);
	@include px2rem(line-height, 40);
	a {
		color: $font000;
	}
}
.operaBox {
	background: $corF7;
	@include px2rem(padding, 16 0 20 0);
	@include px2rem(margin-top, 20);
	.likeBox {
		@include px2rem(padding, 0 18 0 18);
		vertical-align: middle;
		@include px2rem(margin-bottom, 8);
		.icon {
			@include font-dpr(28);
			color: $fontColor;
		}
		a {
			color: $fontColor;
			@include px2rem(line-height, 36);
			@include font-dpr(28);
		}
	}
	.reward {
		@include px2rem(padding, 0 18 0 18);
		vertical-align: middle;
		@include px2rem(padding-bottom, 16);
		@include font-dpr(28);
		.icon {
			@include font-dpr(28);
			color: #FF5453;
		}
		a {
			color: $fontColor;
			@include px2rem(line-height, 36);
			@include font-dpr(28);
		}
	}
	
}
.replyBox {
	@include px2rem(padding, 16 18 0 18);
	border-top: 1px solid $corE5;
	@include px2rem(line-height, 40);
	.replyCon {
		@include px2rem(line-height, 40);
		@include px2rem(margin-bottom, 8);
		@include font-dpr(28);
		a {
			color: $fontColor;
		}
		span {
			display: inline;
		}
		.font8 {
			color: $cor888;
		}
	}
	.allReply {
		display: block;
		color: $fontColor;
		@include font-dpr(26);
		font-weight: 500;
		@include px2rem(margin-top, 12);
		.icon {
			@include font-dpr(20);
			@include px2rem(margin-left, 12);
		}
	}
}
.fixedEdit {
	position: fixed;
	@include px2rem(right, 30);
	@include px2rem(bottom, 108);
	z-index: 12;
	@include px2rem(width, 100);
	@include px2rem(height, 100);
	background: $fontColor;
	border-radius: 50%;
	text-align: center;
	@include px2rem(line-height, 100);
	.icon {
		color: #fff;
		@include font-dpr(40);
	}
}

/*
付费圈子-首页-未登录
payCircle.view
*/
.circleLoBox {
	@include px2rem(padding, 26 30);
	overflow: hidden;
	border-bottom: 1px solid $corE5;
	.circleIcon {
		float: left;
		@include px2rem(line-height, 42);
		@include font-dpr(30);
	}
	.circleLogo {
		float: right;
		@include px2rem(height, 42);
		@include px2rem(max-width, 220);
	}
}
.circleInfo {
	@include px2rem(padding, 26 30 28 30);
	.cirInfoTit {
		@include px2rem(line-height, 42);
		@include font-dpr(30);
		@include px2rem(padding-bottom, 8);
	}
	.cirInfoWord {
		@include px2rem(line-height, 40);
		color: rgba(#000,0.5);
		@include font-dpr(28);
		@include px2rem(padding-bottom, 28);
		border-bottom: 1px solid $corE5;
	}
}
.infoItem {
	@include px2rem(padding, 26 0);
	overflow: hidden;
	border-bottom: 1px solid $corE5;
	.infoItemLeft {
		float: left;
		@include px2rem(line-height, 42);
		@include font-dpr(30);
	}
	.infoItemRight {
		float: right;
		@include px2rem(line-height, 42);
		@include font-dpr(28);
		color: rgba(#000,0.5);
		@include px2rem(max-width, 520);
		@include px2rem(height, 42);
		@include singleline-ellipsis(0);
		text-align: right;
	}
	.lookMore {
	 	.icon {
			@include font-dpr(32);
			@include px2rem(padding-left, 14);
		}
	}
	.circleMemberList {
		overflow: hidden;
		@include px2rem(padding-top, 28);
		.circleMember {
			float: left;
			@include px2rem(height, 92);
			@include px2rem(width, 92);
			@include px2rem(margin-right, 56);
			@include px2rem(border-radius, 8);
			&:nth-child(5) {
				@include px2rem(margin-right, 0);
			}
		}
	}
	
}
.loginOpera {
	@include px2rem(padding, 50 30 86 30);
	.mustLogin {
		display: block;
		@include horizontal-center;
		@include px2rem(margin-bottom, 28);
		background: $corF2;
		@include px2rem(height, 72);
		@include px2rem(width, 334);
		text-align: center;
		@include px2rem(line-height, 72);
		@include px2rem(border-radius, 10);
		color: $fontColor;
		@include font-dpr(32);
	}
	.regiJoin {
		display: block;
		@include horizontal-center;
		background: $fontColor;
		color: #fff;
		@include px2rem(height, 72);
		@include px2rem(width, 334);
		text-align: center;
		@include px2rem(line-height, 72);
		@include px2rem(border-radius, 10);
		@include font-dpr(32);
	}
}

/*
	圈子管理-邀请
	circleInviteView.vue
*/
.invitePerDet {
	@include px2rem(padding, 88 30 6 30);
	.inviteHead {
		display: block;
		@include px2rem(height, 92);
		@include px2rem(width, 92);
		@include horizontal-center;
		@include px2rem(margin-bottom, 12);
	}
	.inviteName {
		color: $fontColor;
		@include font-dpr(30);
		@include singleline-ellipsis(0);
		text-align: center;
		@include px2rem(margin-bottom, 28);
		@include px2rem(line-height, 40);
	}
	.inviteWo {
		@include font-dpr(30);
		text-align: center;
		@include px2rem(line-height, 40);
	}
}
.powerListBox {
	.powerTit {
		@include font-dpr(30);
		@include px2rem(line-height, 42);
		@include px2rem(padding, 28 30 36 30);
		position: relative;
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		    right: 0;
		    bottom: 0;
		    left: 16px;
		    border-bottom: 1px solid $corE5;
		    -webkit-transform: scaleY(0.5);
		    transform: scaleY(0.5);
		}
	}
	.powerList {
		@include px2rem(padding, 28 30 36 30);
		position: relative;
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		    right: 0;
		    bottom: 0;
		    left: 16px;
		    border-bottom: 1px solid $corE5;
		    -webkit-transform: scaleY(0.5);
		    transform: scaleY(0.5);
		}
		.powerClassify {
			@include font-dpr(34);
			@include px2rem(line-height, 48);
			@include px2rem(padding-bottom, 16);
		}
		.powerChi {
			@include font-dpr(28);
			@include px2rem(line-height, 40);
			color: rgba(#000,0.5);
		}
	}
	
}
.payMoney {
	@include font-dpr(28);
	@include px2rem(line-height, 40);
	@include px2rem(padding-top, 30);
	color: rgba(#000,0.5);
	text-align: center;
}

/*
公开圈子，内容页的分享
openCircleConView.vue
*/
.contentHead {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 11;
	width: 100%;
	background: #f9f9f9;
	@include px2rem(height, 88);
	box-shadow: 0px 1px rgba(#000,0.1);
	@include px2rem(padding, 20 30);
	box-sizing: border-box;
	.headBack {
		position: absolute;
		@include px2rem(top, 28);
		@include px2rem(left, 30);
		z-index: 12;
		@include font-dpr(32);
	}
	.headTit {
		@include font-dpr(36);
		@include px2rem(line-height, 48);
		text-align: center;
	}
}
.content {
	@include px2rem(padding-top, 88);
}
.postImgBox {
	@include px2rem(padding, 28 0);
}
//当只有一张图片时
.oneImgBox {
	width: 100%;
	@include px2rem(height, 400);
	.oneImg {
		position: relative;
		width: 100%;
		@include px2rem(height, 400);
	}
	.postPictures {
		position: absolute;
		top: 50%;
		left: 50%;
	}
}
//当只有两张图片时
.twoImgBox {

}
//当只有三张图片时
.threeImgBox {

}
.uploadFileList {
	@include px2rem(padding-bottom, 48);
	.fileChi {
		display: block;
		@include px2rem(height, 40);
		@include px2rem(line-height, 40);
		@include font-dpr(30);
		@include px2rem(margin-bottom, 26);
		.icon {
			float: left;
			@include font-dpr(36);
		}
		.icon-pdf {
			color: #FF5562;
		}
		.icon-word {
			color: #548DFE;
		}
		.icon-rar {
			color: #FFA88E;
		}
		.fileName {
			display: block;
			box-sizing: border-box;
			@include px2rem(margin-left, 46);
			@include px2rem(height, 40);
			@include px2rem(line-height, 40);
			@include singleline-ellipsis(0);
			width: auto;
		}
		&:last-child {
			@include px2rem(margin-bottom, 0);
		}
	}
}
.postDetBot {
	@include px2rem(line-height, 40);
	@include font-dpr(28);
	color: $cor888;
	overflow: hidden;
	.readNum {
		float: left;
	}
	.postDetR {
		float: right;
		@include px2rem(margin-left, 40);
		color: $cor888;
		@include font-dpr(28);
	}
}
.commentBox {
	@include px2rem(padding, 28 0 0 0);
	.likeBox {
		@include px2rem(padding, 0 30);
		color: #353535;
		@include font-dpr(28);
		word-break: break-all;
		.icon {
			@include font-dpr(28);
		}
		a {
			@include font-dpr(28);
			@include px2rem(line-height, 36);
		}
	}
	.payPer {
		@include px2rem(padding, 16 30 28 30);
		overflow: hidden;
		border-bottom: 1px solid $corE5;
		.icon-money {
			float: left;
			@include font-dpr(28);
			@include px2rem(margin, 12 4 12 0);
			color: #FF5453;
			@include px2rem(line-height, 28);
		}
		.payPerHead {
			float: left;
			@include px2rem(height, 52);
			@include px2rem(width, 52);
			@include px2rem(margin-left, 7);
		}
	}
	.commentPostDet {
		@include px2rem(padding, 28 30 0 30);
		.postContent {
			@include font-dpr(28);
			color: #444444;
			@include px2rem(line-height, 40);
		}
		
		.quotePostTop {
			@include px2rem(padding-top, 20);
			@include px2rem(margin-bottom, 22);
		}
		.quoteCon {
			@include px2rem(padding, 16);
			background: $corF7;
			@include font-dpr(26);
			color: $cor888;
		}
		.viewPoint {
			@include px2rem(padding, 16 0 6 0);
			@include font-dpr(28);
			@include px2rem(line-height, 40);
			color: #444444;
		}
		
	}

	.commentOpera {
		text-align: right;
		overflow: hidden;
		position: relative;
		@include px2rem(padding, 0 30 22 30);
		.icon {
			@include font-dpr(26);
		}
		a {
			float: right;
			@include font-dpr(26);
			color: $cor888;
			@include px2rem(margin-left, 20);
			vertical-align: baseline;
			.icon-praise-after {
				@include px2rem(margin-left, 20);
				@include px2rem(margin-right, 8);
			}
		}
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		    right: 0;
		    bottom: 0;
		    left: 16px;
		    border-bottom: 1px solid $corE5;
		    -webkit-transform: scaleY(0.5);
		    transform: scaleY(0.5);
		}
	}
	.padT22 {
		@include px2rem(padding-top, 22);
	}
	.afterNone {
		&:after {
			position: absolute;
		    box-sizing: border-box;
		    content: ' ';
		    pointer-events: none;
		    right: 0;
		    bottom: 0;
		    left: 16px;
		    border-bottom: none;
		    -webkit-transform: scaleY(0.5);
		    transform: scaleY(0.5);
		}
	}
}





