@charset "utf-8";

/**
 * index style 
 */
@import "./../var";
@import "./_app";
@import  '../../../../../static/css/iconfont.css';
@import "./circle";
$headBg: #EEEFF0;

body {
	color: $font000;
	@include font-dpr(28);
}
.headOpe {
	text-align: right;
	@include px2rem(padding, 28 30 14 30);
	span {
		display: inline-block;
		@include font-dpr(40);
		@include px2rem(margin-left, 22);
	}
}
.icon_search{

	&:before {

	}


}
.logo {
	display: block;
	@include px2rem(height,40);
	margin: 0 auto;
}

.circleDet {
	text-align: center;
	@include px2rem(padding, 36 30 42 30);
	@include px2rem(lin-height, 40);
	color: $cor999;
	border-bottom: 1px solid $borE5;
	span {
		@include px2rem(padding,0 28);
		border-right: 1px solid $borE5;
		&:last-child {
			border: none; 
		}
	}
}
.gap {
	background: $gap;
	width: 100%;
	@include px2rem(height,22);
}

.fixedHead {
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	background: #f5f5f5;
}
.fixedNavBar {
	position: fixed !important;
	// top: 0;
	@include px2rem(top, 88);
	left: 0;
	width: 100%;
	background: #f5f5f5;
}
.hederWrap {
	position: relative;
	background: $headBg;
	@include px2rem(padding,0 30);
	@include px2rem(height,80);
	.logo {
		position: absolute;
		left: 50%;
		@include px2rem(top,24);
		@include px2rem(margin-left,-124);
	  	@include px2rem(height,40);
	}
	span {
		display: inline-block;
	  	@include px2rem(width,40);
	  	@include px2rem(height,40);
	  	@include px2rem(margin-left,22);
	  	@include px2rem(line-height,22);
	  	&:before {
	  		@include font-dpr(40);
	  	}
	}
}
.back {

}
.topRight {
	float: right;
	@include px2rem(width,140);
	@include px2rem(padding-top,24);
}



// 侧边栏
.sidebar_wrap{
  background: #eee1e1;
  width: 50%;
  position: fixed;
  right: 0;
  @include px2rem(top,88);
}
.bg_blue{
  background: #00f;
}
.sidebar_item{
  line-height: 2;
  text-align: center;
  display: block;
}

















