@charset "utf-8";

/**
 * index style 
 */
@import "./../var";
@import "./_app";
@import  '../../../../../static/css/iconfont.css';
@import "./circle";


body {
	color: $font000;
	@include font-dpr(28);
}
.headOpe {
	text-align: right;
	@include px2rem(padding, 28 30 14 30);
	span {
		display: inline-block;
		@include font-dpr(40);
		@include px2rem(margin-left, 22);
	}
}
.logo {
	display: block;
	@include px2rem(height,40);
	margin: 0 auto;
}
.circleDet {
	text-align: center;
	@include px2rem(padding, 36 30 42 30);
	@include px2rem(lin-height, 40);
	color: $cor999;
	border-bottom: 1px solid $borE5;
	span {
		@include px2rem(padding,0 20);
		border-right: 1px solid $borE5;
		&:last-child {
			border: none; 
		}
	}
}
.gap {
	background: $gap;
	width: 100%;
	@include px2rem(height,22);
}