@charset "utf-8";
/**
 * 登录/注册页面底部
 */

@import "../../../var";
@import "../../app";


.login-user-footer{
  width: 100%;
  position: relative;
  //@include px2px(bottom,98);
  text-align: center;
  @include font-dpr(26);
  color: $fontColor;
  padding-bottom: 15px;
  i{
    @include px2px(width,1);
    @include px2px(height,28);
    @include px2px(margin-left,28);
    @include px2px(margin-right,28);
    background-color: rgba(229, 229, 229, 1);
    font-style: normal;
    display: inline-block;
    color: rgba(229, 229, 229, 1);
  }
  span{
    cursor: pointer;
  }
}
