name: Fix Code

on: [push]

jobs:
  fixcode:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Clone discuz/core
      run: git clone https://discuz-bot:${{ secrets.test }}@github.com/Comsenz/framework.git
    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest
    - name: Run Fix Code
      run: composer run-script fix
    - name: Push Code
      run: composer run-scriopt commit
