name: Fix Code

on: 
 schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '0 18 * * *'

jobs:
  fixcode:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
      env:
       GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Install dependencies
      run: composer install --prefer-dist --no-progress --no-suggest
  
    - name: Run Fix Code
      run: composer run-script fix
    - name: Push Code
      run: composer run-scriopt commit
